<template>
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
                class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
                <div
                    class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
                >
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    ID
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Folder
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Filename
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Link
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Created at
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item, index) in items"
                                :key="index"
                                :class="
                                    index % 2 === 0 ? 'bg-white' : 'bg-gray-50'
                                "
                            >
                                <td
                                    class="w-10 px-6 py-4 text-xs font-medium text-gray-900 truncate whitespace-nowrap"
                                >
                                    {{ get(item, "id", "") }}
                                </td>
                                <td
                                    class="w-10 px-6 py-4 text-xs font-medium text-gray-900 truncate whitespace-nowrap"
                                >
                                    {{ get(item, "folder.name", "") }}
                                </td>
                                <td
                                    class="w-10 px-6 py-4 text-xs font-medium text-gray-900 truncate whitespace-nowrap"
                                >
                                    {{ get(item, "filename", "") }}
                                </td>
                                <td
                                    class="px-6 py-4 text-xs text-gray-500 truncate"
                                >
                                    <div
                                        class="flex text-blue-600 hover:underline"
                                    >
                                        <a
                                            v-if="!item.is_link"
                                            :href="`/storage/${item.url}`"
                                        >
                                            {{ "/" + get(item, "url", "") }}
                                        </a>
                                        <a v-else :href="item.url">
                                            {{ item.url }}
                                        </a>
                                        <!-- <div
                                            class="ml-2 text-blue-500 cursor-pointer tooltip__layout"
                                            @click.prevent="
                                                copy(item.url, index)
                                            "
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-5 h-5"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                            >
                                                <path
                                                    d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
                                                />
                                                <path
                                                    d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z"
                                                />
                                            </svg>
                                            <span
                                                class="tooltip__content"
                                                :class="{
                                                    show: flag === index,
                                                }"
                                                >Copied!</span
                                            >
                                        </div> -->
                                    </div>
                                </td>
                                <td
                                    class="w-10 px-6 py-4 text-xs text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ format_date(item.created_at) }}
                                </td>
                                <td
                                    class="w-10 px-6 py-4 text-xs text-gray-500 truncate whitespace-nowrap"
                                >
                                    <a
                                        href="#"
                                        @click.prevent="deleteFile(item)"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="w-5 h-5 text-red-600"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import get from "lodash/get";
export default {
    props: {
        items: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            flag: null,
        };
    },
    computed: {
        url() {
            return window.location.origin + "/storage/";
        },
    },
    methods: {
        get,
        copy(value, index) {
            this.$copyText(value)
                .then(() => {
                    console.log("copied!");
                })
                .catch(() => {
                    console.log(`can't copy`);
                });
            this.flag = index;
            setTimeout(() => {
                this.flag = null;
            }, 1000);
        },
        deleteFile(file) {
            if (confirm("Are you sure you want delete this file?")) {
                this.$inertia.delete(`/databox/${file.id}`);
            }
        },
    },
};
</script>

<style>
.tooltip__layout {
    position: relative;
    display: inline-block;
}

.tooltip__content.show {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.tooltip__content {
    padding-left: 50px;
    right: -55px;
    top: -4px;
    background: #616161;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 5px 8px;
    position: absolute;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: auto;
    opacity: 0;
}
</style>
