<template>
    <div id="print" class="px-5 max-w-5xl mx-auto mt-5 mb-10">
        <h1 class="text-center text-xl py-5">{{ feedback.area.name }}</h1>
        <div>
            <h1 class="uppercase py-2 leading-7">Strenghts</h1>
            <p class="leading-7 pl-8">{{ feedback.message }}</p>
        </div>
        <div>
            <h1 class="uppercase py-2 leading-7">Areas Needing Improvement</h1>
            <p class="leading-7 pl-8">{{ feedback.improved }}</p>
        </div>
        <div>
            <h1 class="uppercase py-2 leading-7">Recommendations</h1>
            <p class="leading-7 pl-8">{{ feedback.recommendation }}</p>
        </div>
        <div class="no-print mt-10 float-right flex space-x-2">
            <bisu-link variant="danger" href="/summaries/comments"
                >Cancel</bisu-link
            >
            <bisu-button @click.prevent="printDocs()">Print</bisu-button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        feedback: {
            type: Object,
            default: () => {},
        },
    },

    methods: {
        printDocs() {
            window.print();
        },
    },
};
</script>

<style scoped>
@media print {
    .no-print {
        display: none !important;
    }
}
</style>
