<template>
    <div id="print" class="px-5 max-w-7xl mx-auto mt-5 mb-10">
        <div
            class="uppercase text-2xl text-center font-semibold underline py-5"
        >
            AACCUP TECHNICAL REVIEW AND BOARD ACTION
        </div>
        <div class="leading-7 flex items-center">
            SUC:
            <bisu-input class="mx-2 no-print" v-model="suc" />
            <span class="font-semibold print hidden mx-5">{{ suc }}</span>
        </div>
        <div class="flex leading-7">
            <div class="flex items-center">
                Address:
                <bisu-input class="mx-2 no-print" v-model="address" />
                <span class="font-semibold print hidden mx-5">{{
                    address
                }}</span>
            </div>
            <div class="ml-auto flex items-center">
                Region:
                <bisu-input class="mx-2 no-print" v-model="region" />
                <span class="font-semibold print hidden mx-5">{{
                    region
                }}</span>
            </div>
        </div>
        <div class="leading-7 flex items-center">
            College/Dept:

            <bisu-input class="mx-2 no-print" v-model="college" />
            <span class="font-semibold print hidden mx-5">{{ college }}</span>
        </div>
        <div class="flex leading-7">
            <div class="flex items-center">
                Program:
                <bisu-input class="mx-2 no-print" v-model="program" />
                <span class="font-semibold print hidden mx-5">
                    {{ program }}
                </span>
            </div>
            <div class="ml-auto flex items-center">
                Type of Visit:
                <bisu-input class="mx-2 no-print" v-model="visit" />
                <span class="font-semibold print hidden mx-5">
                    {{ visit }}
                </span>
            </div>
        </div>
        <div class="leading-7">
            Components/Majors:
            <bisu-input class="mx-2 no-print" v-model="majors" />
            <div class="font-semibold print hidden mx-5">
                {{ majors }}
            </div>
        </div>
        <div class="leading-7 flex items-center">
            Date of Survey:
            <bisu-input class="mx-2 no-print" v-model="date_survey" />
            <span class="font-semibold print hidden mx-5">
                {{ date_survey }}
            </span>
        </div>
        <div class="mt-8 flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full py-2 align-middle px-2">
                    <div
                        class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
                    >
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead class="bg-gray-50 uppercase">
                                <tr>
                                    <th
                                        scope="col"
                                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                                    >
                                        Area
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                                    >
                                        Weight
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                                    >
                                        Mean
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                                    >
                                        Weighted Mean
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                                <tr v-for="area in $attrs.areas" :key="area.id">
                                    <td
                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                                    >
                                        {{ area.name }}
                                    </td>
                                    <td
                                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                                    >
                                        {{ area.weight }}
                                    </td>
                                    <td
                                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                                    >
                                        {{ area.rating }}
                                    </td>
                                    <td
                                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                                    >
                                        {{
                                            (
                                                Number(area.weight) *
                                                Number(area.rating)
                                            ).toFixed(2)
                                        }}
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        class="whitespace-nowrap py-4 pl-4 pr-3 font-semibold text-gray-900 sm:pl-6"
                                    >
                                        Overall Total
                                    </td>
                                    <td
                                        class="whitespace-nowrap py-4 pl-4 pr-3 font-semibold text-gray-900 sm:pl-6"
                                    >
                                        {{ weightTotal }}
                                    </td>
                                    <td />
                                    <td
                                        class="whitespace-nowrap py-4 pl-4 pr-3 font-semibold text-gray-900 sm:pl-6"
                                    >
                                        {{ weightedMeanTotal }}
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        class="whitespace-nowrap py-4 pl-4 pr-3 font-semibold text-gray-900 sm:pl-6"
                                    >
                                        Grand Mean
                                    </td>
                                    <td />
                                    <td
                                        colspan="2"
                                        class="whitespace-nowrap py-4 pl-4 pr-3 font-semibold text-gray-900 sm:pl-6"
                                    >
                                        {{ grandMean }}
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        class="whitespace-nowrap py-4 pl-4 pr-3 font-semibold text-gray-900 sm:pl-6"
                                    >
                                        Descriptive Rating
                                    </td>
                                    <td
                                        colspan="3"
                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-center font-semibold text-gray-900 sm:pl-6"
                                    >
                                        <span
                                            :class="{
                                                'text-red-600':
                                                    descriptiveRating ===
                                                    'Failed',
                                            }"
                                            >{{ descriptiveRating }}</span
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-xl py-4">CRITERIA TO PASS THIS LEVEL</div>
        <div class="flex items-center leading-7">
            <div>
                1. <span class="underline">Minimum Grand Mean</span> required to
                qualify for this Level (status)
            </div>
            <div class="ml-auto">
                <bisu-input class="mx-2 no-print" v-model="min_grand_mean" />
                <span class="font-semibold print hidden mx-5">{{
                    min_grand_mean
                }}</span>
            </div>
        </div>
        <div class="flex leading-7">
            <div>
                2. <span class="underline">Minimum Area Mean</span> required to
                qualify for this Level (status)
            </div>
            <div class="ml-auto">
                <bisu-input class="mx-2 no-print" v-model="min_area_mean" />
                <span class="font-semibold print hidden mx-5">{{
                    min_area_mean
                }}</span>
            </div>
        </div>
        <div class="text-xl uppercase pt-10 pb-4 font-semibold">
            RECOMMENDED BOARD ACTION
        </div>
        <div class="leading-7">
            <div class="flex items-center">
                1. Award:
                <bisu-input class="mx-2 no-print" v-model="award" />
                <span class="font-semibold print hidden mx-5">{{ award }}</span>
                Effective:
                <bisu-input class="mx-2 no-print" v-model="effective" />
                <span class="font-semibold print hidden mx-5">{{
                    effective
                }}</span>
            </div>
            May apply for the next survey starting:
            <bisu-input class="no-print" v-model="survey_starting" />
            <span class="font-semibold print hidden mx-5">{{
                survey_starting
            }}</span>
        </div>
        <div class="leading-7">
            2. Defer the award:
            <bisu-input class="no-print" v-model="defer_award" />
            <span class="font-semibold print hidden mx-5">{{
                defer_award
            }}</span>
        </div>
        <div class="leading-7">
            <div class="flex items-center">
                3. Starting:
                <bisu-input class="mx-2 no-print" v-model="starting" />
                <span class="font-semibold print hidden mx-5">{{
                    starting
                }}</span>
                But not later than:
                <bisu-input class="mx-2 no-print" v-model="not_later_than" />
                <span class="font-semibold print hidden mx-5">{{
                    not_later_than
                }}</span>
            </div>
            Meanwhile, the program may retain/enjoy:
            <div class="flex items-center">
                <bisu-input class="mx-2 no-print" v-model="enjoy" />
                <span class="font-semibold print hidden mx-5">{{ enjoy }}</span>
                Status, until:
                <bisu-input class="mx-2 no-print" v-model="status" />
                <span class="font-semibold print hidden mx-5">{{
                    status
                }}</span>
            </div>
        </div>
        <div class="text-xl uppercase pt-10 pb-4 font-semibold">
            ASSESSED BY (ACCREDITORS):
        </div>
        <div class="text-xl pt-10 pb-4 font-semibold">
            SUGGESTIONS:
            <span class="italic text-base">(Checked items only)</span>
        </div>
        <div class="underline">Regular Accreditation Survey Visits</div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Carry out measures to
                <div class="flex items-center">
                    <CheckIcon class="w-4 h-4 mr-2" />improve the rating all
                    areas
                </div>
                <div class="flex items-center">
                    <CheckIcon class="w-4 h-4 mr-2" />carry out recommendations
                    of the Survey Team the conducted the latest survey visit.
                </div>
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Conduct a Self-Survey of the Program in the 4th Quarter 2020 to
                determine its readiness for the next survey visit.
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Prepare an update Program Performance Profile (PPP) using AACCUP
                format.
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Apply for the conduct of the next survey visit in the 4th
                Quarter 2020 (at least two (2) months before the desired date of
                the survey visit, attaching a copy of the PPP.)
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>Others</div>
        </div>

        <div class="underline mt-5">Revisits</div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Adopt measures to
                <div class="flex items-center">
                    <CheckIcon class="w-4 h-4 mr-2" />improve the rating of the
                    area/s to be revisited
                </div>
                <div class="flex items-center">
                    <CheckIcon class="w-4 h-4 mr-2" />carry out recommendations
                    of the Survey Team the conducted the last survey visit. the
                    latest survey visit.
                </div>
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Conduct a Self-Survey of the Program in the 4th Quarter 2020 to
                determine its/their readiness for the the revisit.
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Prepare an update Program Performance Profile (PPP) of only the
                area/s affected using the AACCUP format.
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Apply for the conduct of the next survey visit in the 4th
                Quarter 2020 (at least two (2) months before the desired date of
                revisit.)
            </div>
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>Others</div>
        </div>

        <div class="underline mt-5">
            The program is Level II. Passed the Phase 1 of two (2) Phases of
            Evaluation in the 3rd Survey Visit. Conduct Phase 2
        </div>
        <div class="flex leading-7">
            <div class="mr-2">
                <bisu-checkbox />
            </div>
            <div>
                Detailed Scheme of Evaluation will be issued out together with
                the SUmmary of Findings and Recommendations.
            </div>
        </div>
        <div class="mt-10">Consolidated and Reviewed By:</div>
        <div class="no-print my-10 float-right flex space-x-2">
            <bisu-link variant="danger" href="/summaries/average"
                >Cancel</bisu-link
            >
            <bisu-button @click.prevent="printDocs()">Print</bisu-button>
        </div>
    </div>
</template>

<script>
import { CheckIcon } from "@heroicons/vue/solid";

export default {
    components: {
        CheckIcon,
    },
    data() {
        return {
            suc: "",
            address: "",
            region: "",
            college: "",
            program: "",
            visit: "",
            majors: "",
            date_survey: "",
            award: "",
            effective: "",
            survey_starting: "",
            not_later_than: "",
            defer_award: "",
            starting: "",
            status: "",
            enjoy: "",
            min_grand_mean: 3,
            min_area_mean: 2.5,
        };
    },

    computed: {
        weightTotal: function () {
            return this.$attrs.areas
                .reduce((acc, ele) => {
                    return acc + ele.weight;
                }, 0)
                .toFixed(2);
        },
        weightedMeanTotal: function () {
            return this.$attrs.areas
                .reduce((acc, ele) => {
                    return acc + ele.weight * ele.rating;
                }, 0)
                .toFixed(2);
        },
        descriptiveRating: function () {
            return Number(this.grandMean) < this.min_grand_mean
                ? "Failed"
                : "Satisfactory";
        },
        grandMean: function () {
            if (this.weightTotal === 0) {
                return 0;
            }
            return (this.weightedMeanTotal / this.weightTotal).toFixed(2);
        },

        accreditors() {
            let users = [];

            this.$attrs.areas.forEach((area) => {
                area.users.forEach((user) => {
                    if (
                        !users.some((acc) => {
                            return acc.id === user.id;
                        })
                    ) {
                        if (user.roles[0].name == "Accreditor") {
                            users.push(user);
                        }
                    }
                });
            });
            return users;
        },
    },

    methods: {
        printDocs() {
            window.print();
        },
    },
};
</script>
<style scoped>
@media print {
    .no-print {
        display: none !important;
    }
    .print {
        display: block !important;
    }
}
</style>
