<template>
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle">
                <div
                    class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
                >
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Accreditor
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Area
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 w-10 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Strengths
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Areas Need Improvement
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Recommendations
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item, index) in items"
                                :key="index"
                                :class="
                                    index % 2 === 0 ? 'bg-white' : 'bg-gray-50'
                                "
                            >
                                <td
                                    class="max-w-xs px-6 py-4 text-xs font-medium text-gray-900 truncate whitespace-nowrap"
                                >
                                    {{
                                        get(item, "user.lastname", "") +
                                        ", " +
                                        get(item, "user.firstname", "")
                                    }}
                                </td>
                                <td
                                    class="max-w-xs px-6 py-4 text-xs text-gray-500 truncate"
                                >
                                    {{ get(item, "area.name", "") }}
                                </td>
                                <td
                                    class="max-w-xs px-6 py-4 text-xs italic text-gray-500 truncate overflow-hidden whitespace-nowrap"
                                >
                                    {{ item.message }}
                                </td>
                                <td
                                    class="max-w-xs px-6 py-4 text-xs italic text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ item.improved }}
                                </td>
                                <td
                                    class="max-w-xs px-6 py-4 text-xs italic text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ item.recommendation }}
                                </td>
                                <td
                                    class="max-w-xs text-xs px-6 py-4 text-gray-500 truncate whitespace-nowrap"
                                >
                                    <bisu-link
                                        :href="`/summaries/comments/report/${item.id}`"
                                        size="small"
                                        variant="primary"
                                        >View</bisu-link
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import get from "lodash/get";
export default {
    props: {
        items: {
            type: Array,
            default: () => [],
        },
    },
    methods: {
        get,
    },
};
</script>
