<template>
    <div class="m-5">
        <h3 class="mb-5 text-xl">Summaries of all average</h3>
        <b-table :items="$attrs.course_areas" />
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import BTable from "./TTable.vue";

export default {
    components: {
        BTable,
    },
    layout: AppLayout,
};
</script>
