<template>
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
                class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
                <div
                    class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
                >
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Course
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-right text-gray-500 uppercase"
                                >
                                    Average Rating
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Created at
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item, index) in items"
                                :key="index"
                                :class="
                                    index % 2 === 0 ? 'bg-white' : 'bg-gray-50'
                                "
                            >
                                <td
                                    class="w-10 px-6 py-4 text-xs text-gray-500 truncate"
                                >
                                    <div>{{ get(item, "name", "") }}</div>
                                </td>
                                <td
                                    class="px-6 py-4 text-xs italic text-right text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ item.rating }}
                                </td>
                                <td
                                    class="w-10 px-6 py-4 text-xs text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ format_date(item.created_at) }}
                                </td>
                                <td
                                    class="text-xs px-6 py-4 text-gray-500 flex float-right"
                                >
                                    <bisu-link
                                        :href="`/summaries/report/${item.id}`"
                                        size="small"
                                        variant="primary"
                                        >View</bisu-link
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import get from "lodash/get";
export default {
    props: {
        items: {
            type: Array,
            default: () => [],
        },
    },
    methods: {
        get,
    },
};
</script>
