<template>
    <div class="m-5">
        <div>
            <h3 class="text-xl text-center">Add User</h3>
            <div class="w-16 m-auto border-b-2 border-gray-300"></div>
        </div>
        <form @submit.prevent="addUser">
            <div
                class="grid grid-cols-1 mb-2 space-x-2 sm:grid-cols-2 lg:grid-cols-3"
            >
                <bisu-input
                    text="Prefix"
                    class="my-1"
                    placeholder="Enter prefix ex. Dr."
                    @input="reset('suffix')"
                    v-model="newUserForm.suffix"
                    :errorMessage="newUserForm.errors['suffix']"
                    required
                />
                <bisu-input
                    text="Firstname"
                    class="my-1"
                    placeholder="Enter firstname"
                    @input="reset('firstname')"
                    v-model="newUserForm.firstname"
                    :errorMessage="newUserForm.errors['firstname']"
                    required
                />
                <bisu-input
                    text="Lastname"
                    class="my-1"
                    placeholder="Enter lastname"
                    @input="reset('lastname')"
                    v-model="newUserForm.lastname"
                    :errorMessage="newUserForm.errors['lastname']"
                    required
                />

                <bisu-select
                    name="Position"
                    text="Position"
                    :options="[
                        {
                            id: 'ACCREDITING COORDINATOR',
                            name: 'ACCREDITING COORDINATOR',
                        },
                        {
                            id: 'ACCREDITING TEAM LEADER',
                            name: 'ACCREDITING TEAM LEADER',
                        },
                        {
                            id: 'ACCREDITING MEMBER',
                            name: 'ACCREDITING MEMBER',
                        },
                        { id: 'INSTRUCTOR', name: 'INSTRUCTOR' },
                    ]"
                    class="my-1"
                    placeholder="Enter position"
                    @input="reset('position')"
                    v-model="newUserForm.position"
                    :errorMessage="newUserForm.errors['position']"
                    required
                />

                <bisu-input
                    text="Email"
                    class="my-1"
                    type="email"
                    placeholder="Enter email"
                    @input="reset('email')"
                    v-model="newUserForm.email"
                    :errorMessage="newUserForm.errors['email']"
                    required
                />
                <bisu-input
                    text="Contact Number"
                    class="my-1"
                    placeholder="Enter contact number"
                    @input="reset('contact_number')"
                    v-model="newUserForm.contact_number"
                    :errorMessage="newUserForm.errors['contact_number']"
                    required
                />
                <bisu-select
                    name="Gender"
                    text="Gender"
                    :options="[
                        { id: 'male', name: 'Male' },
                        { id: 'female', name: 'Female' },
                    ]"
                    class="my-1"
                    placeholder="Enter gender"
                    @input="reset('gender')"
                    v-model="newUserForm.gender"
                    :errorMessage="newUserForm.errors['gender']"
                    required
                />
                <bisu-select
                    text="System Role"
                    :options="$attrs.auth.roles"
                    class="my-1"
                    placeholder="Enter system role"
                    @input="reset('gender')"
                    v-model="newUserForm.role"
                    :errorMessage="newUserForm.errors['role']"
                    required
                />
                <bisu-input
                    text="School"
                    class="my-1"
                    placeholder="Enter school"
                    @input="reset('school')"
                    v-model="newUserForm.school"
                    :errorMessage="newUserForm.errors['school']"
                    required
                />
                <bisu-input
                    text="Default Password"
                    class="my-1"
                    placeholder="Enter firstname"
                    v-model="newUserForm.password"
                    disabled
                />
            </div>
            <div class="flex pt-3 text-right border-t border-gray-300">
                <bisu-link variant="danger" href="/users" class="ml-auto">
                    Cancel
                </bisu-link>
                <bisu-button variant="primary">Save</bisu-button>
            </div>
        </form>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();
export default {
    layout: AppLayout,
    data() {
        return {
            newUserForm: this.$inertia.form({
                suffix: "",
                firstname: "",
                lastname: "",
                position: "",
                email: "",
                contact_number: "",
                gender: "",
                role: 3,
                course_id: "",
                school: "",
                isLeader: false,
                password: "123Passsword_",
            }),
        };
    },
    methods: {
        async addUser() {
            await this.newUserForm.post("/users", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);

                    setTimeout(() => {
                        window.location.href = "/users";
                    }, 500);
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },

        reset(field) {
            this.newUserForm.errors[field] = "";
        },
    },
};
</script>

<style></style>
