<template>
    <div class="m-5">
        <div>
            <h3 class="text-xl text-center">Edit User</h3>
            <div class="w-16 m-auto border-b-2 border-gray-300"></div>
        </div>
        <form @submit.prevent="updateUser">
            <div
                class="grid grid-cols-1 space-x-2 sm:grid-cols-2 lg:grid-cols-3"
            >
                <bisu-input
                    text="Suffix"
                    class="my-1"
                    placeholder="Enter suffix ex. Dr."
                    @input="reset('suffix')"
                    v-model="updateUserForm.suffix"
                    :errorMessage="updateUserForm.errors['suffix']"
                    required
                />
                <bisu-input
                    text="Firstname"
                    class="my-1"
                    placeholder="Enter firstname"
                    @input="reset('firstname')"
                    v-model="updateUserForm.firstname"
                    :errorMessage="updateUserForm.errors['firstname']"
                    required
                />
                <bisu-input
                    text="Lastname"
                    class="my-1"
                    placeholder="Enter lastname"
                    @input="reset('lastname')"
                    v-model="updateUserForm.lastname"
                    :errorMessage="updateUserForm.errors['lastname']"
                    required
                />
                <bisu-input
                    text="Position"
                    class="my-1"
                    placeholder="Enter position"
                    @input="reset('position')"
                    v-model="updateUserForm.position"
                    :errorMessage="updateUserForm.errors['position']"
                    required
                />
                <bisu-input
                    text="Email"
                    class="my-1"
                    type="email"
                    placeholder="Enter email"
                    @input="reset('email')"
                    v-model="updateUserForm.email"
                    :errorMessage="updateUserForm.errors['email']"
                    required
                />
                <bisu-input
                    text="Contact Number"
                    class="my-1"
                    placeholder="Enter contact number"
                    @input="reset('contact_number')"
                    v-model="updateUserForm.contact_number"
                    :errorMessage="updateUserForm.errors['contact_number']"
                    required
                />
                <bisu-select
                    name="Gender"
                    text="Gender"
                    :options="[
                        { id: 'male', name: 'Male' },
                        { id: 'female', name: 'Female' },
                    ]"
                    class="my-1"
                    placeholder="Enter gender"
                    @input="reset('gender')"
                    v-model="updateUserForm.gender"
                    :errorMessage="updateUserForm.errors['gender']"
                    required
                />
                <bisu-select
                    text="System Role"
                    :options="$attrs.auth.roles"
                    class="my-1"
                    placeholder="Enter system role"
                    @input="reset('gender')"
                    v-model="updateUserForm.role"
                    :errorMessage="updateUserForm.errors['role']"
                    required
                />
                <bisu-input
                    text="School"
                    class="my-1"
                    placeholder="Enter school"
                    @input="reset('school')"
                    v-model="updateUserForm.school"
                    :errorMessage="updateUserForm.errors['school']"
                    required
                />
            </div>
            <div class="flex pt-3 text-right border-t border-gray-300">
                <bisu-link variant="danger" href="/users" class="ml-auto">
                    Cancel
                </bisu-link>
                <bisu-button variant="primary">Update</bisu-button>
            </div>
        </form>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();
export default {
    layout: AppLayout,
    data() {
        return {
            updateUserForm: this.$inertia.form({
                suffix: this.$attrs.user.suffix,
                firstname: this.$attrs.user.firstname,
                lastname: this.$attrs.user.lastname,
                position: this.$attrs.user.position,
                email: this.$attrs.user.email,
                contact_number: this.$attrs.user.contact_number,
                gender: this.$attrs.user.gender,
                role: this.$attrs.user.roles[0].id,
                school: this.$attrs.user.school,
            }),
        };
    },
    methods: {
        async updateUser() {
            await this.updateUserForm.put("/users/" + this.$attrs.user.id, {
                onSuccess: () => {
                    if (this.$attrs.flash.message !== null) {
                        toastr.success(this.$attrs.flash.message);
                    } else {
                        toastr.error(this.$attrs.flash.error);
                    }
                    setTimeout(() => {
                        window.location.href = "/users";
                    }, 500);
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },

        reset(field) {
            this.updateUserForm.errors[field] = "";
        },
    },
};
</script>

<style></style>
