<template>
    <div class="m-5">
        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div
                    class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
                >
                    <div
                        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
                    >
                        <div class="flex p-3">
                            <h3 class="text-lg font-medium">User Lists</h3>
                            <div class="ml-auto">
                                <bisu-link
                                    variant="primary"
                                    href="/users/create"
                                >
                                    Add User
                                </bisu-link>
                            </div>
                        </div>
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                    >
                                        Name
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                    >
                                        Email
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                    >
                                        Gender
                                    </th>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                    >
                                        System Role
                                    </th>
                                    <th
                                        scope="col"
                                        class="text-right px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider"
                                    >
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(user, index) in $attrs.users"
                                    :key="index"
                                    :class="
                                        index % 2 === 0
                                            ? 'bg-white'
                                            : 'bg-gray-50'
                                    "
                                >
                                    <td
                                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                                    >
                                        {{
                                            user.firstname + " " + user.lastname
                                        }}
                                    </td>
                                    <td
                                        class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                                    >
                                        {{ user.email }}
                                    </td>
                                    <td
                                        class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                                    >
                                        {{ user.gender }}
                                    </td>
                                    <td
                                        class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                                    >
                                        {{ user.roles[0].name }}
                                    </td>
                                    <td
                                        class="flex px-6 py-4 whitespace-nowrap text-right text-sm font-medium space-x-1"
                                    >
                                        <bisu-link
                                            class="ml-auto"
                                            :href="
                                                '/users/' + user.id + '/edit'
                                            "
                                            variant="secondary"
                                        >
                                            Edit
                                        </bisu-link>
                                        <bisu-button
                                            @click.prevent="deleteUser(user)"
                                            href="#"
                                            variant="danger"
                                        >
                                            Delete
                                        </bisu-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();
export default {
    layout: AppLayout,
    methods: {
        async deleteUser(user) {
            if (
                !confirm(
                    "Are you sure want to delete " +
                        user.firstname +
                        " " +
                        user.lastname +
                        " user? \n All the data under on this user will be gone."
                )
            )
                return;
            await this.$inertia.delete("/users/" + user.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },
    },
};
</script>
