<template>
    <div class="m-5">
        <div class="flex">
            <h3 class="py-2 text-lg">
                List of Courses with there areas and accreditor assigned
            </h3>
            <div class="ml-auto">
                <a
                    href="/"
                    class="relative items-center px-4 py-2 text-sm font-medium text-white border border-white rounded-full shadow-sm  sm:inline-flex bg-gradient-to-r from-indigo-900 to-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                    AACCUP Accreditation
                </a>
            </div>
        </div>
        <div
            class="hidden grid-cols-1 font-bold uppercase border-t border-l border-r border-gray-200 divide-x  sm:grid sm:grid-cols-3 last:border-b"
        >
            <div class="p-1 pl-4">Courses</div>
            <div class="flex col-span-2">
                <div class="p-1 pl-4">Areas</div>
                <div class="p-1 pr-4 ml-auto">Accreditors</div>
            </div>
        </div>
        <div
            class="grid grid-cols-1 border-t border-l border-r border-gray-200  sm:grid-cols-3 last:border-b"
            v-for="(course, index) in $attrs.courses"
            :key="index"
        >
            <div class="flex">
                <div class="m-auto ml-5">{{ course.name }}</div>
            </div>
            <div class="col-span-2">
                <div
                    v-for="(area, a) in course.accreditor_areas"
                    :key="a"
                    class="flex pl-4 border-b border-l border-gray-200  last:border-b-0"
                >
                    <div class="flex">
                        <div class="m-auto">
                            <span class="font-semibold">
                                AREA {{ integer_to_roman(area.area) }}
                            </span>
                            -
                            {{ area.name }}
                        </div>
                    </div>
                    <div class="m-auto mr-0">
                        <div v-for="(user, u) in area.users" :key="u">
                            <div
                                v-if="user.roles[0].name === 'Accreditor'"
                                class="p-3 border-b border-l"
                            >
                                <p class="font-semibold">
                                    {{ user.suffix }} {{ user.firstname }}
                                    {{ user.lastname }}
                                </p>
                                <div>{{ user.contact_number }}</div>
                                <div>{{ user.school }}</div>
                            </div>
                        </div>
                        <!-- <span v-else> - No Accreditor - </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
export default {
    layout: AppLayout,
};
</script>

<style></style>
