<template>
    <!-- <div class="overflow-hidden text-center shadow-2xl">
        <img src="/images/image1.jpg" />
    </div> -->
    <div class="relative h-full">
        <div class="p-5 text-center bg-gray-200">
            <div class="sm:flex">
                <h3 class="py-2 text-lg">
                    List of Courses with there areas and admin assigned
                </h3>
                <div class="ml-auto">
                    <a
                        href="/"
                        class="relative items-center px-4 py-2 text-sm font-medium text-white border border-white rounded-full shadow-sm  sm:inline-flex bg-gradient-to-r from-indigo-900 to-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                        AACCUP Accreditation
                    </a>
                </div>
            </div>
            <div class="flex flex-wrap mt-5">
                <div class="w-full">
                    <!-- AREA SECTION -->
                    <ul class="border-b-2 list-reset sm:flex">
                        <!-- :class="{
                            'sm:border-white': $attrs.course.areas.length !== 0,
                        }" -->
                        <li
                            v-for="(course, i) in $attrs.courses"
                            :key="i"
                            class="-mb-0.5"
                        >
                            <div
                                class="inline-flex w-full px-2 py-2 mb-1 text-sm font-semibold border-white  text-blue-dark sm:mb-0"
                                :class="{
                                    'border-l-2 border-t-2 border-r-2 rounded sm:rounded-b-none sm:rounded-t text-gray-900 bg-white':
                                        openTab === i,
                                    'bg-gray-200 shadow-inner rounded':
                                        openTab !== i,
                                }"
                            >
                                <a
                                    href="#"
                                    class="w-full"
                                    @click.prevent="getArea(course, i)"
                                >
                                    {{ course.name }}
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="p-5 bg-white">
                        <div v-if="areas.length === 0" class="text-center">
                            - No Area(s) -
                        </div>
                        <div
                            class="grid grid-cols-1 border-t border-l border-r border-gray-200  sm:grid-cols-2 last:border-b"
                            v-for="(area, a) in areas"
                            :key="a"
                        >
                            <div class="flex border-r border-gray-200">
                                <div class="m-auto ml-4">
                                    AREA {{ integer_to_roman(area.area) }} -
                                    {{ area.name }}
                                </div>
                            </div>
                            <div class="p-3">
                                <div v-for="(user, u) in area.users" :key="u">
                                    <div v-if="user.roles[0].name === 'Admin'">
                                        <div class="font-medium">
                                            {{
                                                user.suffix +
                                                " " +
                                                user.firstname +
                                                " " +
                                                user.lastname
                                            }}
                                        </div>
                                        <div class="text-sm">
                                            {{ user.email }}
                                        </div>
                                        <div>
                                            {{ user.contact_number }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <div v-else>- No Faculty -</div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
export default {
    layout: AppLayout,
    data() {
        return {
            openTab: 0,
            areas: this.$attrs.courses[0].admin_areas,
        };
    },
    methods: {
        getArea(course, i) {
            this.areas = course.admin_areas;
            this.openTab = i;
        },
    },
};
</script>

<style></style>
