<template>
    <bisu-modal :isShow="isShow" size="small" @modal:hide="showModal(false)">
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Area
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="addArea">
            <bisu-select
                name="Area"
                :options="$attrs.areas"
                size="small"
                class="pb-2 ml-1"
                text="Select Area"
                v-model="newForm.area"
                rounded
                placeholder="Select Area"
                @input="reset('area')"
                :errorMessage="newForm.errors['area']"
                required
            />

            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Name"
                class="mr-1"
                v-model="newForm.name"
                rounded
                @input="reset('name')"
                :errorMessage="newForm.errors['name']"
                required
            />

            <bisu-input
                text="Weight"
                type="number"
                name="Weight"
                placeholder="Enter Weight"
                class="mr-1"
                v-model="newForm.weight"
                rounded
                @input="reset('weight')"
                :errorMessage="newForm.errors['weight']"
                required
            />

            <div>
                <label
                    for="accreditor"
                    class="block text-sm font-medium text-gray-700"
                    >Accreditor</label
                >
                <div
                    class="h-32 p-3 mb-2 overflow-auto border border-gray-300 rounded-xl"
                >
                    <div
                        v-for="(accreditor, index) in $attrs.accreditors"
                        :key="index"
                    >
                        <bisu-checkbox
                            :value="accreditor.id"
                            v-model="newForm.users"
                        />
                        <span class="pl-3 text-sm">{{ accreditor.name }}</span>
                    </div>
                </div>
            </div>
            <div>
                <label
                    for="faculty"
                    class="block text-sm font-medium text-gray-700"
                >
                    Faculty / Instructor
                </label>
                <div
                    class="h-32 p-3 mb-2 overflow-auto border border-gray-300 rounded-xl"
                >
                    <div v-for="(admin, index) in $attrs.admins" :key="index">
                        <bisu-checkbox
                            :value="admin.id"
                            v-model="newForm.users"
                        />
                        <span class="pl-3 text-sm">{{ admin.name }}</span>
                    </div>
                </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                    type="submit"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                >
                    Save
                </button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isShowParameter"
        size="small"
        @parameterModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Parameter
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="addParameter">
            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Parameter Name"
                class="mr-1"
                v-model="newFormParameter.name"
                rounded
                @input="reset('name')"
                :errorMessage="newFormParameter.errors['name']"
                required
            />
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                    type="submit"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                >
                    Save
                </button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isShowUpdateArea"
        size="small"
        @updateAreaModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Edit Area
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="updateArea">
            <bisu-select
                name="Area"
                :options="$attrs.areas"
                size="small"
                class="pb-2 ml-1"
                text="Select Area"
                v-model="updateForm.area"
                rounded
                placeholder="Select Area"
                @input="reset('area')"
                :errorMessage="updateForm.errors['area']"
                required
            />

            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Name"
                class="mr-1"
                v-model="updateForm.name"
                rounded
                required
                @input="reset('name')"
                :errorMessage="updateForm.errors['name']"
            />

            <bisu-input
                text="Weight"
                type="number"
                name="Weight"
                placeholder="Enter Weight"
                class="mr-1"
                v-model="updateForm.weight"
                rounded
                @input="reset('weight')"
                :errorMessage="updateForm.errors['weight']"
                required
            />

            <div>
                <label
                    for="accreditor"
                    class="block text-sm font-medium text-gray-700"
                    >Accreditor</label
                >
                <div
                    class="h-32 p-3 mb-2 overflow-auto border border-gray-300 rounded-xl"
                >
                    <div
                        v-for="(accreditor, index) in $attrs.accreditors"
                        :key="index"
                    >
                        <bisu-checkbox
                            :value="accreditor.id"
                            v-model="updateForm.users"
                        />
                        <span class="pl-3 text-sm">{{ accreditor.name }}</span>
                    </div>
                </div>
            </div>
            <div>
                <label
                    for="faculty"
                    class="block text-sm font-medium text-gray-700"
                >
                    Faculty / Instructor
                </label>
                <div
                    class="h-32 p-3 mb-2 overflow-auto border border-gray-300 rounded-xl"
                >
                    <div v-for="(admin, index) in $attrs.admins" :key="index">
                        <bisu-checkbox
                            :value="admin.id"
                            v-model="updateForm.users"
                        />
                        <span class="pl-3 text-sm">{{ admin.name }}</span>
                    </div>
                </div>
            </div>
            <!-- <bisu-select
                name="Accreditor"
                :options="$attrs.accreditors"
                size="small"
                class="pb-2 ml-1"
                text="Select Accreditor"
                v-model="updateForm.accreditor_id"
                rounded
                placeholder="Select Accreditor"
                @input="reset('accreditor_id')"
                :errorMessage="updateForm.errors['accreditor_id']"
            /> -->
            <!-- <bisu-select
                name="Faculty"
                :options="$attrs.admins"
                size="small"
                class="pb-2 ml-1"
                text="Select Faculty"
                v-model="updateForm.faculty_id"
                rounded
                placeholder="Select Faculty"
                @input="reset('faculty_id')"
                :errorMessage="updateForm.errors['faculty_id']"
            /> -->

            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                    type="submit"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                >
                    Save
                </button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isUpdateParameterMode"
        size="small"
        @updateParameterModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Edit Parameter
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="updateParameter">
            <bisu-select
                name="Area"
                :options="$attrs.course.areas"
                size="small"
                class="pb-2 ml-1"
                text="Select Area"
                v-model="updateFormParameter.area_id"
                rounded
                placeholder="Select Area"
                @input="reset('area_id')"
                :errorMessage="updateFormParameter.errors['area_id']"
                required
            />
            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Parameter Name"
                class="mr-1"
                v-model="updateFormParameter.name"
                rounded
                @input="reset('name')"
                :errorMessage="updateFormParameter.errors['name']"
            />
            <div class="flex mt-5 sm:mt-4">
                <bisu-button
                    variant="primary"
                    class="w-full"
                    type="submit"
                    :disabled="updateFormParameter.processing"
                >
                    Update
                </bisu-button>
                <bisu-button
                    @click.prevent="showModal(false)"
                    type="button"
                    variant="danger"
                    class="w-full"
                >
                    Cancel
                </bisu-button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isCalculateRateMode"
        size="small"
        @calculateRateModal:hide="showModal(false)"
    >
        <div>
            <div
                class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-yellow-100"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-yellow-500"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
            </div>
            <div class="mt-3 text-center sm:mt-5">
                <h3
                    class="text-lg leading-6 font-medium text-gray-900"
                    id="modal-title"
                >
                    Calculate Average Rate
                </h3>
                <div class="mt-2">
                    <p class="text-sm text-gray-500">
                        Do you want to continue.
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5 sm:mt-6">
            <button
                @click.prevent="saveRatings"
                type="button"
                class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm"
            >
                Calculate and Save
            </button>
        </div>
    </bisu-modal>
    <bisu-modal
        :isShow="isSubmitRateMode"
        size="small"
        @submitRateModal:hide="showModal(false)"
    >
        <div>
            <div
                class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-blue-100"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-blue-500"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                </svg>
            </div>
            <div class="mt-3 text-center sm:mt-5">
                <h3
                    class="text-lg leading-6 font-medium text-gray-900"
                    id="modal-title"
                >
                    Submit Rate
                </h3>
                <div class="mt-2">
                    <p class="text-sm text-gray-500">
                        Once submitted cannot be changed, Are you sure to
                        Submit?
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-5 sm:mt-6">
            <button
                @click.prevent="submitRate"
                type="button"
                class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm"
            >
                Submit Rate
            </button>
        </div>
    </bisu-modal>
    <feedback
        :show="isShowCommentList"
        :parameter="$attrs.selectedArea"
        :user="$attrs.auth.user"
        :flash="$attrs.flash"
        @addComment:hide="showCommentModal(false)"
    />

    <!-- END MODAL -->
    <div class="overflow-hidden">
        <div v-if="isRate" class="py-2 text-center text-white bg-red-600">
            Please click the Calculate Average Rate button at the upper right
            corner once the rating is final.
        </div>
        <div class="col-span-3 p-5 bg-gray-200">
            <div class="border-b border-gray-200 sm:px-6">
                <div
                    class="flex flex-wrap items-center justify-between -mt-4 -ml-4 sm:flex-nowrap"
                >
                    <div class="mt-4 ml-4">
                        <h3
                            class="pb-1 font-medium leading-6 text-center text-gray-900"
                        >
                            Bachelor of Science in
                            <span class="font-semibold">{{
                                $attrs.course.name
                            }}</span>
                        </h3>
                        <div class="flex">
                            <span
                                class="w-3/6 m-auto border-b-2 border-gray-400 sm:m-0"
                            ></span>
                        </div>
                    </div>
                    <div
                        class="w-full mt-4 ml-4 text-center sm:flex-shrink-0 sm:w-auto"
                    >
                        <bisu-button
                            v-if="
                                $page.props.auth.user.roles[0].name ===
                                'Accreditor'
                            "
                            class="ml-2 text-gray-300"
                            variant="secondary"
                            rounded
                            @click.prevent="showCommentModal(true)"
                        >
                            Add Comment / Feedback
                        </bisu-button>
                        <a
                            href="/"
                            class="relative items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-white rounded-full shadow-sm sm:inline-flex hover:text-white bg-gradient-to-r hover:from-indigo-900 hover:to-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        >
                            AACCUP Accreditation
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap mt-5">
            <div class="w-full">
                <!-- AREA SECTION -->
                <ul class="border-b-2 list-reset sm:flex">
                    <!-- :class="{
                            'sm:border-white': $attrs.course.areas.length !== 0,
                        }" -->
                    <li
                        v-for="(area, i) in $attrs.course.areas"
                        :key="i"
                        class="-mb-0.5"
                    >
                        <div
                            class="inline-flex w-full px-2 py-2 mb-1 text-sm font-semibold border-white text-blue-dark sm:mb-0"
                            :class="{
                                'border-l-2 border-t-2 border-r-2 rounded sm:rounded-b-none sm:rounded-t text-gray-900 bg-white':
                                    $attrs.selectedArea.id === area.id,
                                'bg-gray-200 shadow-inner rounded':
                                    $attrs.selectedArea.id === area.id,
                            }"
                        >
                            <span class="block text-center">
                                <Link
                                    :href="`/courses/${$attrs.course.id}?area_id=${area.id}`"
                                    class="w-full pb-1"
                                >
                                    AREA {{ integer_to_roman(area.area) }}
                                </Link>
                                <p
                                    class="text-xs font-thin"
                                    v-if="
                                        $page.props.auth.user.roles[0].name ===
                                            'Accreditor' ||
                                        (area.rating_setting &&
                                            area.rating_setting.status ===
                                                'rated')
                                    "
                                >
                                    Avg. Rate:
                                    <span
                                        v-if="
                                            area.rating >= 0 ||
                                            area.rating === null
                                        "
                                    >
                                        {{
                                            area.rating === null
                                                ? "No Rating"
                                                : area.rating.toFixed(2)
                                        }}
                                    </span>
                                    <span v-else>N/A</span>
                                </p>
                            </span>
                            <div
                                v-if="
                                    $page.props.auth.user.roles[0].name ===
                                    'Super Admin'
                                "
                                class="ml-auto text-xs text-red-100 sm:ml-3 sm:m-auto"
                            >
                                <a href="" @click.prevent="deleteArea(area)">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="w-5 h-5 bg-red-500 rounded-full"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li
                        v-if="
                            $page.props.auth.user.roles[0].name ===
                            'Super Admin'
                        "
                        class="my-1 sm:my-0 sm:-mb-0.5 cursor-pointer sm:ml-auto sm:pl-3"
                    >
                        <a
                            @click.prevent="addMode(true)"
                            class="inline-block w-full px-3 py-2 text-xs font-semibold text-center text-gray-100 bg-indigo-900 rounded-full text-blue-dark"
                        >
                            Add Area
                        </a>
                    </li>
                </ul>

                <!-- PARAMETER SECTION -->
                <div
                    class="w-full text-center"
                    v-if="$attrs.course.areas.length === 0"
                >
                    - No Area(s) -
                </div>
                <div
                    class="py-1 sm:bg-white sm:p-5"
                    v-if="$attrs.course.areas.length !== 0"
                >
                    <div
                        v-if="
                            $page.props.auth.user.roles[0].name === 'Accreditor'
                        "
                        class="flex mb-2"
                    >
                        <div class="ml-auto">
                            <div
                                v-if="
                                    $attrs.selectedArea.rating_setting &&
                                    $attrs.selectedArea.rating_setting
                                        .status === 'rated'
                                "
                            >
                                <a
                                    :href="`/print/${$attrs.selectedArea.id}`"
                                    class="mr-2 relative items-center px-4 py-2 ml-3 text-xs font-semibold text-gray-100 rounded-full shadow-sm bg-gradient-to-r from-indigo-900 to-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:inline-flex hover:text-white"
                                >
                                    <span>Print</span>
                                </a>
                                <span
                                    class="bg-blue-200 text-blue-800 py-1 px-3 text-sm rounded-full"
                                    >Rated</span
                                >
                            </div>
                            <div v-else>
                                <a
                                    v-if="
                                        !isRate && $attrs.selectedArea.isRating
                                    "
                                    href="#"
                                    @click.prevent="isRate = !isRate"
                                    class="relative items-center px-4 py-2 ml-3 text-xs font-semibold text-gray-100 rounded-full shadow-sm bg-gradient-to-r from-indigo-900 to-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:inline-flex hover:text-white"
                                >
                                    <span>Start Rate</span>
                                </a>
                            </div>
                            <bisu-button
                                v-if="isRate"
                                rounded
                                class="ml-2"
                                variant="primary"
                                @click.prevent="showCalculateModal"
                            >
                                Calculate Average Rate and Save
                            </bisu-button>

                            <bisu-button
                                v-if="isRate"
                                rounded
                                class="ml-2"
                                variant="secondary"
                                @click.prevent="temporarySave"
                            >
                                Temporary Save
                            </bisu-button>

                            <bisu-button
                                v-if="isRate"
                                rounded
                                class="ml-2"
                                @click.prevent="showSubmitRateModal"
                            >
                                Submit Rate
                            </bisu-button>
                        </div>
                    </div>
                    <div class="overflow-hidden shadow-lg rounded-xl">
                        <div
                            class="w-full p-4 text-center bg-indigo-900 sm:flex"
                        >
                            <div class="flex font-semibold text-white">
                                <div class="m-auto uppercase">
                                    AREA
                                    {{
                                        integer_to_roman(
                                            $attrs.selectedArea.area
                                        )
                                    }}
                                    –
                                    {{ $attrs.selectedArea.name }}
                                </div>
                                <a
                                    v-if="
                                        $page.props.auth.user.roles[0].name ===
                                        'Super Admin'
                                    "
                                    @click.prevent="editAreaMode(true)"
                                    class="m-auto ml-2 cursor-pointer"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="w-6 h-6 p-1 text-white bg-blue-700 border border-white rounded-full"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                    >
                                        <path
                                            d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                                        />
                                    </svg>
                                </a>
                            </div>
                            <div
                                v-if="
                                    $page.props.auth.user.roles[0].name ===
                                    'Super Admin'
                                "
                                class="ml-auto"
                            >
                                <bisu-button
                                    class="text-gray-300"
                                    variant="primary"
                                    rounded
                                    @click.prevent="addModeParameter(true)"
                                >
                                    Add Parameter
                                </bisu-button>
                            </div>
                        </div>
                        <div class="text-sm" v-if="$attrs.selectedArea !== ''">
                            <ul
                                class="p-5 bg-white list-alpha pl-7 lg:p-5 lg:pl-10 sm:bg-transparent"
                            >
                                <div
                                    class="w-full text-center"
                                    v-if="
                                        $attrs.selectedArea.parameters
                                            .length === 0
                                    "
                                >
                                    - No Parameter(s) -
                                </div>
                                <li
                                    v-else
                                    class="py-1"
                                    v-for="(parameter, index) in $attrs
                                        .selectedArea.parameters"
                                    :key="index"
                                >
                                    <div class="w-full text-sm sm:flex">
                                        <div class="capitalize sm:flex">
                                            <div class="m-auto">
                                                {{ parameter.name }}
                                            </div>
                                        </div>
                                        <div class="ml-auto">
                                            <div class="flex">
                                                <bisu-link
                                                    v-if="
                                                        $page.props.auth.user
                                                            .roles[0].name ===
                                                        'Super Admin'
                                                    "
                                                    class="m-auto"
                                                    variant="secondary"
                                                    rounded
                                                    @click.prevent="
                                                        updateParameterMode(
                                                            true,
                                                            parameter
                                                        )
                                                    "
                                                >
                                                    Edit Parameter
                                                </bisu-link>
                                                <bisu-link
                                                    v-if="
                                                        $page.props.auth.user
                                                            .roles[0].name ===
                                                            'Super Admin' &&
                                                        $attrs.selectedArea
                                                            .rating_setting ===
                                                            null
                                                    "
                                                    class="m-auto"
                                                    variant="danger"
                                                    rounded
                                                    @click.prevent="
                                                        deleteParameter(
                                                            parameter
                                                        )
                                                    "
                                                >
                                                    Remove
                                                </bisu-link>
                                                <div class="flex">
                                                    <div
                                                        class="m-auto"
                                                        v-if="
                                                            $page.props.auth
                                                                .user.roles[0]
                                                                .name ===
                                                                'Accreditor' ||
                                                            ($attrs.selectedArea
                                                                .rating_setting &&
                                                                $attrs
                                                                    .selectedArea
                                                                    .rating_setting
                                                                    .status ===
                                                                    'rated')
                                                        "
                                                    >
                                                        Avg. Rate :
                                                        <span
                                                            v-if="
                                                                parameter.rating >=
                                                                    0 ||
                                                                parameter.rating ===
                                                                    null
                                                            "
                                                        >
                                                            {{
                                                                parameter.rating ==
                                                                null
                                                                    ? "No Rating"
                                                                    : parameter.rating.toFixed(
                                                                          2
                                                                      )
                                                            }}
                                                        </span>
                                                        <span v-else>N/A</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-if="$attrs.selectedArea !== ''">
                    <template
                        v-for="(parameter, a) in $attrs.selectedArea.parameters"
                        :key="a"
                    >
                        <parameter-lists
                            @store_plist="storePlist"
                            :flash="$attrs.flash"
                            :isRate="isRate"
                            :nullRatingIds="nullRatingIds"
                            :index="a"
                            :parameter="parameter"
                            :parameters="$attrs.selectedArea.parameters"
                            :areas="$attrs.course.areas"
                            :area="$attrs.selectedArea"
                            :openTab="openTab"
                            :user="$attrs.auth.user"
                            :files="$attrs.files"
                            :folders="$attrs.folders"
                            :ratingSetting="$attrs.selectedArea.rating_setting"
                        />
                    </template>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="p-5 bg-gray-100 rounded-md">
                <h3 class="pb-2 border-b border-gray-300">Feedback(s)</h3>
                <ul>
                    <li
                        v-if="
                            $attrs.selectedArea.feedbacks &&
                            $attrs.selectedArea.feedbacks.length === 0
                        "
                        class="py-5"
                    >
                        <div class="text-sm text-center">
                            - No Feedback(s) -
                        </div>
                    </li>
                    <template
                        v-for="(feedback, x) in $attrs.selectedArea.feedbacks"
                        :key="x"
                    >
                        <li class="p-2 border-b border-gray-200">
                            <div class="flex">
                                <span class="font-semibold text-lg">
                                    {{
                                        feedback.user.firstname +
                                        " " +
                                        feedback.user.lastname
                                    }}
                                </span>
                                <span class="ml-auto text-xs">
                                    {{ timeSince(feedback.created_at) }}
                                </span>
                            </div>
                            <span
                                class="px-2 py-1 my-1 text-xs text-blue-900 bg-blue-300 rounded-md"
                            >
                                {{ $attrs.selectedArea.name }}
                            </span>
                            <div class="pl-5 font-semibold py-2 text-blue-900">
                                Strengths:
                            </div>
                            <p class="pl-10 text-sm italic">
                                " {{ feedback.message }} "
                            </p>
                            <div class="pl-5 font-semibold py-2 text-blue-900">
                                Areas Needing Improvement:
                            </div>
                            <p class="pl-10 text-sm italic">
                                " {{ feedback.improved }} "
                            </p>
                            <div class="pl-5 font-semibold py-2 text-blue-900">
                                Recommendations:
                            </div>
                            <p class="pl-10 text-sm italic">
                                " {{ feedback.recommendation }} "
                            </p>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <div v-if="isRate" class="py-2 text-center text-white bg-red-600">
            Please click the Calculate Average Rate button at the upper right
            corner once the rating is final.
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Feedback from "./Feedback.vue";

import Toastr from "toastr2";
import ParameterLists from "./ParameterLists";
import { Inertia } from "@inertiajs/inertia";
import { Link } from "@inertiajs/inertia-vue3";
import get from "lodash/get";

const toastr = new Toastr();

export default {
    layout: AppLayout,
    components: {
        ParameterLists,
        Feedback,
        Link,
    },
    data() {
        return {
            area: "",
            isRate: false,
            isShow: false,
            isShowParameter: false,
            isShowUpdateArea: false,
            isShowCommentList: false,
            openTab: 0,
            newForm: this.$inertia.form({
                course_id: this.$attrs.course.id,
                area: "",
                name: "",
                weight: "",
                accreditor_id: "",
                faculty_id: "",
                users: [],
            }),
            updateForm: this.$inertia.form({
                course_id: this.$attrs.course.id,
                area: "",
                name: "",
                weight: "",
                accreditor_id: "",
                faculty_id: "",
                rating: "",
                users: [],
            }),
            newFormParameter: this.$inertia.form({
                area_id: this.$attrs.selectedArea.id,
                name: "",
            }),
            isUpdateParameterMode: false,
            updateFormParameter: this.$inertia.form({
                id: "",
                area_id: "",
                name: "",
            }),
            updateRatings: [],
            nullRatingIds: [],
            isCalculateRateMode: false,
            isSubmitRateMode: false,
        };
    },
    emits: [
        "modal:hide",
        "parameterModal:hide",
        "update:parameterList",
        "updateAreaModal:hide",
        "updateParameterModal:hide",
        "calculateRateModal:hide",
    ],
    methods: {
        get,
        async submitRate() {
            await Inertia.post(
                "/submit-rate",
                {
                    area_id: this.$attrs.selectedArea.id,
                },
                {
                    onSuccess: () => {
                        if (this.$attrs.flash.response) {
                            this.isSubmitRateMode = false;
                            toastr.success(this.$attrs.flash.message);
                        } else {
                            toastr.error(this.$attrs.flash.message);
                        }
                        this.clearFields();
                        this.isRate = false;
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },

        async temporarySave() {
            await Inertia.post(
                "/temporary-save-rate",
                {
                    ratings: this.updateRatings,
                    area_id: this.$attrs.selectedArea.id,
                },
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                        this.clearFields();
                        this.isRate = false;
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },

        async saveRatings() {
            await Inertia.post(
                "/save-rate",
                {
                    ratings: this.updateRatings,
                    area_id: this.$attrs.selectedArea.id,
                },
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                        this.clearFields();
                        this.isRate = false;
                        this.isCalculateRateMode = false;
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },

        showSubmitRateModal() {
            this.isSubmitRateMode = true;
        },

        async showCalculateModal() {
            this.$attrs.selectedArea.parameters.map((parameter) => {
                parameter.parameter_lists.map((list) => {
                    if (list.sub_parameters.length === 0) {
                        if (list.rating === null) {
                            if (this.updateRatings.length !== 0) {
                                this.updateRatings.map((rate) => {
                                    if (rate.id === list.id) {
                                        const index =
                                            this.nullRatingIds.indexOf(rate.id);
                                        if (index > -1) {
                                            this.nullRatingIds.splice(index, 1);
                                        }
                                        return;
                                    }
                                    if (
                                        this.nullRatingIds.indexOf(list.id) ===
                                        -1
                                    ) {
                                        this.nullRatingIds.push(list.id);
                                    }
                                });
                            } else {
                                if (
                                    this.nullRatingIds.indexOf(list.id) === -1
                                ) {
                                    this.nullRatingIds.push(list.id);
                                }
                            }
                        } else {
                            if (this.updateRatings.length !== 0) {
                                this.updateRatings.map((rate) => {
                                    if (rate.id === list.id) {
                                        const index =
                                            this.nullRatingIds.indexOf(rate.id);
                                        if (index > -1) {
                                            this.nullRatingIds.splice(index, 1);
                                        }
                                        return;
                                    }
                                });
                            }
                        }
                    } else {
                        list.sub_parameters.map((list) => {
                            this.getSubParameters(list);
                        });
                    }
                });
            });

            if (this.nullRatingIds.length !== 0) {
                toastr.error("Please select the given fields.");
                return;
            }
            this.isCalculateRateMode = true;
        },

        getSubParameters(list) {
            if (list.sub_parameters.length === 0) {
                if (list.rating === null) {
                    if (this.updateRatings.length !== 0) {
                        this.updateRatings.map((rate) => {
                            if (rate.id === list.id) {
                                const index = this.nullRatingIds.indexOf(
                                    rate.id
                                );
                                if (index > -1) {
                                    this.nullRatingIds.splice(index, 1);
                                }
                                return;
                            }
                            if (this.nullRatingIds.indexOf(list.id) === -1) {
                                this.nullRatingIds.push(list.id);
                            }
                        });
                    } else {
                        if (this.nullRatingIds.indexOf(list.id) === -1) {
                            this.nullRatingIds.push(list.id);
                        }
                    }
                } else {
                    if (this.updateRatings.length !== 0) {
                        this.updateRatings.map((rate) => {
                            if (rate.id === list.id) {
                                const index = this.nullRatingIds.indexOf(
                                    rate.id
                                );
                                if (index > -1) {
                                    this.nullRatingIds.splice(index, 1);
                                }
                                return;
                            }
                        });
                    }
                }
            } else {
                list.sub_parameters.map((list) => {
                    this.getSubParameters(list);
                });
            }
        },

        storePlist(list) {
            if (!this.updateRatings.find((o) => o.id === list.id)) {
                this.updateRatings.push({
                    id: list.id,
                    rating: list.rating,
                });
            }
        },
        addMode(bool) {
            this.isShow = bool;
        },
        addModeParameter(bool) {
            this.isShowParameter = bool;
        },
        async addArea() {
            await this.newForm.post("/areas", {
                onSuccess: () => {
                    if (this.$attrs.flash.message) {
                        toastr.success(this.$attrs.flash.message);
                        this.clearFields();
                        this.isShow = false;
                    } else {
                        toastr.error(this.$attrs.flash.error);
                    }
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        async addParameter() {
            await this.newFormParameter.post("/parameters", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.isShowParameter = false;
                    this.clearFields();
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        clearFields() {
            this.newForm = this.$inertia.form({
                course_id: this.$attrs.course.id,
                area: "",
                name: "",
                weight: "",
                accreditor_id: "",
                faculty_id: "",
                users: [],
            });
            this.newFormParameter = this.$inertia.form({
                area_id: this.$attrs.selectedArea.id,
                name: "",
            });
            this.updateForm = this.$inertia.form({
                course_id: this.$attrs.course.id,
                area: "",
                name: "",
                weight: "",
                accreditor_id: "",
                faculty_id: "",
                rating: "",
                users: [],
            });
            this.updateFormParameter = this.$inertia.form({
                id: "",
                area_id: "",
                name: "",
            });
        },
        async deleteArea(area) {
            if (
                !confirm(
                    "Are you sure want to delete " +
                        area.name +
                        " area? \n All the connection on this area will be gone."
                )
            )
                return;
            await this.$inertia.delete("/areas/" + area.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.reset();
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },
        async deleteParameter(parameter) {
            if (
                !confirm(
                    "Are you sure want to delete " +
                        parameter.name +
                        " parameter? \n All the connection on this parameter will be gone."
                )
            )
                return;
            await this.$inertia.delete("/parameters/" + parameter.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.reset();
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },
        editAreaMode(bool) {
            this.isShowUpdateArea = bool;
            this.updateForm.area = this.$attrs.selectedArea.area;
            this.updateForm.name = this.$attrs.selectedArea.name;
            this.updateForm.weight = this.$attrs.selectedArea.weight;
            this.updateForm.accreditor_id =
                this.$attrs.selectedArea.accreditor_id;
            this.updateForm.faculty_id = this.$attrs.selectedArea.faculty_id;
            this.updateForm.rating = this.$attrs.selectedArea.rating;
            this.updateForm.users = this.$attrs.selectedArea.users.map(
                (user) => {
                    return user.id;
                }
            );
        },
        showModal(bool) {
            this.isShow = bool;
            this.isShowParameter = bool;
            this.isUpdateParameterMode = bool;
            this.isCalculateRateMode = bool;
            this.isShowUpdateArea = bool;
            this.isSubmitRateMode = bool;
            this.newForm = this.$inertia.form({
                course_id: this.$attrs.course.id,
                area: "",
                name: "",
            });
            this.newFormParameter = this.$inertia.form({
                area_id: this.$attrs.selectedArea.id,
                name: "",
            });
        },
        reset(field) {
            this.newForm.errors[field] = "";
        },
        async updateParameter() {
            await this.updateFormParameter.put(
                "/parameters/" + this.updateFormParameter.id,
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                        this.isUpdateParameterMode = false;
                        this.clearFields();
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },
        async updateArea() {
            await Inertia.put(
                "/areas/" + this.$attrs.selectedArea.id,
                this.updateForm,
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                        this.isShowUpdateArea = false;
                        this.clearFields();
                    },
                    onError: (errors) => {
                        this.updateForm.errors = errors;
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },
        updateParameterMode(bool, parameter) {
            this.isUpdateParameterMode = bool;
            console.log(parameter);
            this.updateFormParameter.id = parameter.id;
            this.updateFormParameter.area_id = parameter.area_id;
            this.updateFormParameter.name = parameter.name;
        },

        showCommentModal(bool) {
            this.isShowCommentList = bool;
        },
    },
};
</script>
