<template>
    <bisu-modal :isShow="isShow" size="small" @modal:hide="showModal(false)">
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Course
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="addCourse">
            <bisu-input
                name="Name"
                type="text"
                size="small"
                class="pb-2 mr-1"
                text="Name"
                v-model="newForm.name"
                rounded
                placeholder="Enter Name"
                @input="reset('name')"
                :errorMessage="newForm.errors['name']"
                required
            />
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                    type="submit"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                >
                    Save
                </button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isEditShow"
        size="small"
        @updateModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Edit Course
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        You can change the name of the course.
                    </p>
                </div>
            </div>
        </div>
        <!-- Edit Course Form -->
        <form @submit.prevent="updateCourse">
            <bisu-input
                name="Name"
                type="text"
                size="small"
                class="pb-2 mr-1"
                text="Name"
                v-model="updateForm.name"
                rounded
                placeholder="Enter Name"
                @input="reset('name')"
                :errorMessage="updateForm.errors['name']"
                required
            />
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                    type="submit"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                >
                    Save
                </button>
            </div>
        </form>
    </bisu-modal>

    <!-- END MODAL -->
    <div class="px-5 mt-5">
        <div class="px-4 sm:py-3 sm:px-6">
            <div
                class="flex flex-wrap items-center justify-between mb-5 -mt-2 -ml-4 border-b-2 border-gray-400 sm:flex-nowrap"
            >
                <div class="mt-2 ml-4">
                    <h3
                        class="flex text-lg font-semibold leading-6 text-gray-900"
                    >
                        <a href="/" class="hover:text-blue-800">Home</a>
                        <div class="flex">
                            <div class="px-1 m-auto">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-4 h-4"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </div>
                        </div>
                        Courses
                    </h3>
                </div>
                <div
                    class="my-2 ml-4"
                    v-if="$page.props.auth.user.roles[0].name === 'Super Admin'"
                >
                    <button
                        @click.prevent="addMode(true)"
                        type="button"
                        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-full shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                        Add Course
                    </button>
                </div>
            </div>

            <ul
                class="grid grid-cols-1 gap-6 py-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
            >
                <li
                    v-for="(course, index) in $attrs.courses"
                    :key="index"
                    class="flex-col col-span-1 overflow-hidden text-center bg-transparent bg-center divide-y divide-gray-200 shadow-xl bg-logo sm:bg-none sm:bg-gray-200 hover:bg-gray-300 rounded-3xl"
                >
                    <div class="">
                        <div
                            class="grid w-full grid-cols-2 text-center"
                            v-if="
                                $page.props.auth.user.roles[0].name ===
                                'Super Admin'
                            "
                        >
                            <a href="#" @click.prevent="editMode(course)">
                                <div
                                    class="px-4 py-3 text-sm font-bold text-gray-100 bg-blue-500 hover:bg-blue-600"
                                >
                                    Edit
                                </div>
                            </a>
                            <a href="#" @click.prevent="deleteCourse(course)">
                                <div
                                    class="px-4 py-3 text-sm font-bold text-gray-100 bg-red-500 hover:bg-red-600"
                                >
                                    Delete
                                </div>
                            </a>
                        </div>
                        <Link :href="`courses/${course.id}`" class="">
                            <div class="flex flex-col p-5">
                                <img
                                    class="hidden w-3/4 h-auto m-auto sm:block"
                                    src="/images/bisu-logo.png"
                                    alt=""
                                />
                                <h3
                                    class="text-xl font-bold text-white sm:text-gray-900 sm:font-medium"
                                >
                                    {{ course.name }}
                                </h3>
                            </div>
                        </Link>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";
import { Link } from "@inertiajs/inertia-vue3";

const toastr = new Toastr();

export default {
    layout: AppLayout,
    components: {
        Link,
    },
    data() {
        return {
            isShow: false,
            isEditShow: false,
            newForm: this.$inertia.form({
                name: "",
            }),
            updateForm: this.$inertia.form({
                id: "",
                name: "",
            }),
        };
    },

    emits: ["modal:hide", "updateModal:hide"],
    methods: {
        addMode(bool) {
            this.isShow = bool;
        },
        editMode(course) {
            this.isEditShow = true;
            this.updateForm.id = course.id;
            this.updateForm.name = course.name;
        },
        async addCourse() {
            await this.newForm.post("/courses", {
                onSuccess: () => {
                    toastr.success(this.$page.props.flash.message);
                    this.clearFields();
                    this.isShow = false;
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        clearFields() {
            this.newForm = this.$inertia.form({
                name: "",
            });
        },
        async deleteCourse(course) {
            if (
                !confirm(
                    "Are you sure want to delete " +
                        course.name +
                        " course? \n All the connection on this course will be gone."
                )
            )
                return;
            await this.$inertia.delete("/courses/" + course.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.reset();
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },
        reset(field) {
            this.newForm.errors[field] = "";
        },
        showModal(bool) {
            this.isShow = bool;
            this.isEditShow = bool;
            this.updateForm = this.$inertia.form({
                id: "",
                name: "",
            });
        },
        async updateCourse() {
            await this.updateForm.put("/courses/" + this.updateForm.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.clearFields();
                    this.isEditShow = false;
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
    },
};
</script>
