<template>
    <!-- <div class="overflow-hidden text-center shadow-2xl">
        <img src="/images/image2.jpg" />
    </div> -->
    <div class="relative">
        <div class="inline-flex w-full">
            <div class="w-full col-span-2 py-5 mr-5 bg-gray-100 shadow-lg">
                <div class="text-sm">
                    <h3 class="mb-2 text-lg font-semibold text-center">
                        List of PDF file uploaded
                    </h3>
                    <div class="m-2">
                        <div class="mb-2">
                            <bisu-tab>
                                <a
                                    v-for="tab in tabItems"
                                    :key="tab.name"
                                    href="#"
                                    :class="[
                                        tab.id === activeTab
                                            ? 'border-indigo-500 text-indigo-600'
                                            : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300',
                                        'whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm',
                                    ]"
                                    @click.prevent="selectTab(tab.id)"
                                >
                                    {{ tab.name }}
                                </a>
                            </bisu-tab>
                        </div>
                        <div v-if="activeTab === 1">
                            <div
                                class="text-center"
                                v-if="$attrs.parameter_lists.length === 0"
                            >
                                - No File(s) Uploaded -
                            </div>
                            <div v-else>
                                <div
                                    class="grid grid-cols-1 mb-2 md:grid-cols-3"
                                >
                                    <bisu-input-search
                                        text="Search"
                                        name="areaSearch"
                                        placeholder="Enter parameter lists"
                                        class="mr-1"
                                        v-model="areaSearch"
                                        rounded
                                        size="small"
                                    />
                                </div>
                                <bisu-table :items="resultAreaQuery" />
                            </div>
                        </div>
                        <div v-if="activeTab === 2">
                            <div
                                class="text-center"
                                v-if="$attrs.programs.length === 0"
                            >
                                - No File(s) Uploaded -
                            </div>
                            <div v-else>
                                <div
                                    class="grid grid-cols-1 mb-2 md:grid-cols-3"
                                >
                                    <bisu-input-search
                                        text="Search"
                                        name="programSearch"
                                        placeholder="Enter Filename"
                                        class="mr-1"
                                        v-model="programSearch"
                                        rounded
                                        size="small"
                                    />
                                </div>
                                <div
                                    v-for="(
                                        program, index
                                    ) in resultProgramQuery"
                                    :key="index"
                                    class="py-1 ml-3 text-sm text-gray-500 truncate whitespace-nowrap"
                                >
                                    <a
                                        :href="
                                            '/storage/programs/' + program.url
                                        "
                                        target="_blank"
                                        class="hover:text-blue-600 hover:underline"
                                    >
                                        {{ program.filename }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div v-if="activeTab === 3">
                            <form
                                @submit.prevent="handleSubmit"
                                v-if="
                                    $page.props.auth.user.roles[0].name !==
                                    'Accreditor'
                                "
                            >
                                <div
                                    class="bg-white p-10 shadow-lg m-5 rounded-md"
                                >
                                    <h1 class="text-xl">Upload files</h1>
                                    <div
                                        class="grid grid-cols-1 md:grid-cols-2 gap-4 m-3 items-center"
                                    >
                                        <div class="relative">
                                            <bisu-input
                                                v-if="form.isFileLink"
                                                id="files"
                                                name="files"
                                                type="file"
                                                text="Upload Files"
                                                placeholder="Upload Files"
                                                autofocus
                                                multiple
                                                @change="uploadFiles"
                                            />
                                            <bisu-input
                                                v-else
                                                id="files"
                                                rounded
                                                v-model="form.link"
                                                size="small"
                                                name="files"
                                                type="text"
                                                text="Paste url file"
                                                placeholder="Paste url file"
                                                autofocus
                                                multiple
                                            />
                                            <span
                                                class="flex absolute -bottom-3 left-3 items-center"
                                            >
                                                <span
                                                    @click.prevent="
                                                        form.isFileLink = true
                                                    "
                                                    class="mr-2 text-xs hover:underline cursor-pointer"
                                                    :class="{
                                                        'text-blue-600':
                                                            form.isFileLink,
                                                    }"
                                                >
                                                    File
                                                </span>
                                                <span
                                                    @click.prevent="
                                                        form.isFileLink = false
                                                    "
                                                    class="text-xs hover:underline cursor-pointer"
                                                    :class="{
                                                        'text-blue-600':
                                                            !form.isFileLink,
                                                    }"
                                                >
                                                    Link
                                                </span>
                                            </span>
                                        </div>
                                        <div class="relative">
                                            <bisu-select
                                                v-if="!isAddFolder"
                                                name="Folder"
                                                :options="$attrs.folders"
                                                size="small"
                                                class="pb-2 ml-1"
                                                text="Select Folder"
                                                v-model="form.folder"
                                                rounded
                                                placeholder="Select Folder"
                                                @input="reset('folder')"
                                                :errorMessage="
                                                    form.folder['folder']
                                                "
                                                required
                                            />
                                            <bisu-input
                                                v-else
                                                v-model="newFolder.name"
                                                name="name"
                                                text="Folder name"
                                                placeholder="Folder name"
                                            />
                                            <span
                                                v-if="!isAddFolder"
                                                @click.prevent="
                                                    isAddFolder = true
                                                "
                                                class="text-xs hover:underline absolute -bottom-3 left-3 text-gray-700 cursor-pointer"
                                            >
                                                Add Folder
                                            </span>
                                            <span
                                                v-else
                                                class="flex absolute -bottom-3 left-3 items-center"
                                            >
                                                <span
                                                    @click.prevent="addFolder"
                                                    class="mr-2 text-xs hover:underline text-blue-700 cursor-pointer"
                                                >
                                                    Save
                                                </span>
                                                <span
                                                    @click.prevent="
                                                        isAddFolder = false
                                                    "
                                                    class="text-xs hover:underline text-red-700 cursor-pointer"
                                                >
                                                    Cancel
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="p-3 flex">
                                        <bisu-button class="ml-auto"
                                            >Upload</bisu-button
                                        >
                                    </div>
                                </div>
                            </form>

                            <div>
                                <h3 class="p-5 text-xl font-semibold">
                                    List of Files
                                </h3>
                                <div
                                    class="grid grid-cols-1 mb-2 md:grid-cols-2 mx-10"
                                >
                                    <bisu-input-search
                                        text="Search"
                                        name="courseSearch"
                                        placeholder="Enter Filename"
                                        class="mr-1"
                                        v-model="courseSearch"
                                        rounded
                                        size="small"
                                    />
                                    <bisu-select
                                        v-if="!isAddFolder"
                                        name="Folder"
                                        :options="$attrs.folders"
                                        size="small"
                                        class="pb-2 ml-1"
                                        text="Select Folder"
                                        v-model="courseFolder"
                                        rounded
                                        placeholder="Select Folder"
                                        hasAll
                                    />
                                </div>
                                <div>
                                    <bisu-button>Reset</bisu-button>
                                </div>
                                <b-table :items="resultCourseQuery" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import BisuTable from "@/Components/Table";
import BisuTab from "@/Components/Tab";
import BTable from "./databox/Table.vue";

import Toastr from "toastr2";
const toastr = new Toastr();

export default {
    layout: AppLayout,
    components: {
        BisuTable,
        BisuTab,
        BTable,
    },
    computed: {
        tabItems() {
            return [
                {
                    id: 1,
                    name: "Area Files",
                },
                {
                    id: 2,
                    name: "Program Files",
                },
                {
                    id: 3,
                    name: "Course Files",
                },
            ];
        },
        resultAreaQuery() {
            if (this.areaSearch) {
                return this.$attrs.parameter_lists.filter((list) => {
                    if (list.name) {
                        return this.areaSearch
                            .toLowerCase()
                            .split("")
                            .every((v) => list.name.toLowerCase().includes(v));
                    }
                });
            }
            return this.$attrs.parameter_lists;
        },
        filterFolder() {
            if (this.courseFolder !== "all") {
                return this.$attrs.files.filter((list) => {
                    if (list.file_folder_id) {
                        return (
                            parseInt(this.courseFolder) === list.file_folder_id
                        );
                    }
                });
            }
            return this.$attrs.files;
        },
        resultCourseQuery() {
            if (this.courseSearch) {
                return this.filterFolder.filter((list) => {
                    if (list.filename) {
                        return this.courseSearch
                            .toLowerCase()
                            .split("")
                            .every((v) =>
                                list.filename.toLowerCase().includes(v)
                            );
                    }
                });
            }
            return this.filterFolder;
        },
        resultProgramQuery() {
            if (this.programSearch) {
                return this.$attrs.programs.filter((item) => {
                    return this.programSearch
                        .toLowerCase()
                        .split("")
                        .every((v) => item.filename.toLowerCase().includes(v));
                });
            }
            return this.$attrs.programs;
        },
    },
    data() {
        return {
            activeTab: 1,
            programSearch: null,
            courseSearch: null,
            courseFolder: "all",
            areaSearch: null,
            form: this.$inertia.form({
                link: "",
                files: [],
                folder: "",
                isFileLink: false,
            }),
            newFolder: this.$inertia.form({
                name: "",
            }),
            isAddFolder: false,
        };
    },
    methods: {
        selectTab(id) {
            this.activeTab = id;
        },
        uploadFiles(event) {
            for (const i of Object.keys(event.target.files)) {
                this.form.files.push(event.target.files[i]);
            }
        },

        async addFolder() {
            await this.newFolder.post("/folders");
            this.isAddFolder = false;
            this.newFolder.name = "";
        },

        async handleSubmit() {
            await this.form.post("/upload-files", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.form.link = "";
                    this.form.files = [];
                    this.form.folder = "";
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
    },
};
</script>
