<template>
    <bisu-modal :isShow="show" size="regular" @addComment:hide="showModal">
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Accreditor Feedback
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->

        <div class="right-0 transition-all duration-1000 ease-in-out top-1/4">
            <div class="">
                <div class="p-3">
                    <form @submit.prevent="addFeedback">
                        <bisu-input
                            text="Area Name"
                            v-model="parameter.name"
                            disabled="disabled"
                        />
                        <bisu-textarea
                            text="Strenghts"
                            placeholder="State your best practices"
                            v-model="newFeedbackForm.message"
                            required
                            @input="reset('message')"
                            :errorMessage="newFeedbackForm.errors['message']"
                        />
                        <bisu-textarea
                            text="Areas Needing Improvement"
                            placeholder="State your area need to be improved"
                            v-model="newFeedbackForm.improved"
                            required
                            @input="reset('recommendation')"
                            :errorMessage="newFeedbackForm.errors['improved']"
                        />
                        <bisu-textarea
                            text="Recommendation"
                            placeholder="State your recommendation"
                            v-model="newFeedbackForm.recommendation"
                            required
                            @input="reset('recommendation')"
                            :errorMessage="
                                newFeedbackForm.errors['recommendation']
                            "
                        />
                        <div class="flex mt-2">
                            <bisu-button class="w-full" variant="primary">
                                Submit
                            </bisu-button>
                            <bisu-button
                                class="w-full"
                                type="button"
                                @click.prevent="showModal"
                                variant="danger"
                            >
                                Cancel
                            </bisu-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </bisu-modal>
</template>

<script>
import Toastr from "toastr2";

const toastr = new Toastr();

export default {
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        parameter: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            newFeedbackForm: this.$inertia.form({
                area_id: "",
                user_id: "",
                rating: "",
                message: "",
                improved: "",
                recommendation: "",
            }),
        };
    },

    watch: {
        parameter: function (newValue) {
            this.newFeedbackForm.area_id = newValue.id;
            this.newFeedbackForm.user_id = this.$attrs.user.id;
        },
    },

    created() {
        if (this.parameter) {
            this.newFeedbackForm.area_id = this.parameter.id;
            this.newFeedbackForm.user_id = this.$attrs.user.id;
        }
    },

    emits: ["update:parameterList, addComment:hide"],
    methods: {
        async addFeedback() {
            await this.newFeedbackForm.post("/feedbacks", {
                onSuccess: () => {
                    this.$emit("update:parameterList");
                    this.showModal();
                    toastr.success(this.$attrs.flash.message);
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        reset(field) {
            this.newFeedbackForm.errors[field] = "";
        },
        showModal() {
            this.$emit("addComment:hide");
        },
    },
};
</script>
