<template>
    <bisu-modal
        :isShow="isShowAddList"
        size="small"
        @addListModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Parameter List
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="addParameterList">
            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Name"
                class="mr-1"
                v-model="newFormList.name"
                rounded
                required
                @input="reset('name')"
                :errorMessage="newFormList.errors['name']"
            />
            <bisu-toggle
                text="Uploadable File"
                v-model="newFormList.isUpload"
            />
            <div class="flex mt-5 sm:mt-4">
                <bisu-button variant="primary" class="w-full">
                    Save
                </bisu-button>
                <bisu-button
                    @click.prevent="showModal(false)"
                    type="button"
                    variant="danger"
                    class="w-full"
                >
                    Cancel
                </bisu-button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isShowUpdateList"
        size="small"
        @updateListModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Update/Move Parameter List
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Update parameter list Form -->
        <form @submit.prevent="updateParameterList">
            <bisu-select
                name="Parameter"
                :options="$attrs.parameters"
                size="small"
                class="pb-2 ml-1"
                text="Select Parameter"
                v-model="updateFormList.parameter_id"
                rounded
                placeholder="Select Parameter"
                @input="reset('parameter_id')"
                :errorMessage="updateFormList.errors['parameter_id']"
                required
            />
            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Name"
                class="mr-1"
                v-model="updateFormList.name"
                rounded
                required
                @input="reset('name')"
                :errorMessage="updateFormList.errors['name']"
            />
            <bisu-toggle
                text="Uploadable File"
                v-model="updateFormList.isUpload"
            />
            <div class="flex mt-5 sm:mt-4">
                <bisu-button variant="primary" class="w-full">
                    Update
                </bisu-button>
                <bisu-button
                    @click.prevent="showModal(false)"
                    type="button"
                    variant="danger"
                    class="w-full"
                >
                    Cancel
                </bisu-button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isShowAddSubList"
        size="small"
        @addSubListModal:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Sub Parameter
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="addSubParameterList">
            <bisu-input
                text="Name"
                name="Name"
                placeholder="Enter Name"
                class="mr-1"
                v-model="newFormSubList.name"
                rounded
                required
                @input="reset('name')"
                :errorMessage="newFormSubList.errors['name']"
            />
            <bisu-toggle
                text="Uploadable File"
                v-model="newFormSubList.isUpload"
            />
            <div class="flex mt-5 sm:mt-4">
                <bisu-button variant="primary" class="w-full">
                    Save
                </bisu-button>
                <bisu-button
                    @click.prevent="showModal(false)"
                    type="button"
                    variant="danger"
                    class="w-full"
                >
                    Cancel
                </bisu-button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isShowUploadForm"
        size="large"
        @addFile:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Select Files
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Check the checkbox that you need to assign on this
                        parameter list.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="uploadPdfFile">
            <div>
                <bisu-input-search
                    text="Search"
                    name="courseSearch"
                    placeholder="Search Filename"
                    class="mr-1"
                    v-model="fileSearch"
                    rounded
                    size="small"
                />
            </div>
            <div class="grid grid-cols-1 gap-2">
                <div
                    class="p-3 overflow-x-auto border shadow-lg border-gray-400 rounded-lg h-auto bg-gray-300"
                >
                    <bisu-add-file-form
                        :flash="$attrs.flash"
                        :folders="$attrs.folders"
                    />
                </div>
                <div
                    class="p-3 overflow-x-auto border border-gray-300 rounded-lg h-96"
                    :class="{
                        'border border-red-600': newUploadFile.errors.files,
                    }"
                >
                    <div v-for="(file, index) in resultFilesQuery" :key="index">
                        <bisu-checkbox
                            :value="file.id"
                            v-model="newUploadFile.files"
                        />
                        <span class="pl-3 text-sm">{{ file.filename }}</span>
                    </div>
                </div>
            </div>
            <span class="text-xs text-red-600">
                {{ newUploadFile.errors["files"] }}
            </span>
            <div class="flex mt-5 sm:mt-4">
                <bisu-button variant="primary" class="w-full">
                    Save
                </bisu-button>
                <bisu-button
                    @click.prevent="showModal(false)"
                    type="button"
                    variant="danger"
                    class="w-full"
                >
                    Cancel
                </bisu-button>
            </div>
        </form>
    </bisu-modal>
    <bisu-modal
        :isShow="isShowFilesForm"
        size="large"
        @addFile:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Files
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Click the file link to open.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <div>
            <bisu-input-search
                text="Search"
                name="courseSearch"
                placeholder="Search Filename"
                class="mr-1"
                v-model="selectedFileSearch"
                rounded
                size="small"
            />
        </div>
        <div class="p-3 overflow-x-auto border border-gray-300 rounded-lg h-96">
            <div v-for="(file, index) in resultSelectedFilesQuery" :key="index">
                <a :href="`/storage/${file.url}`">
                    <span
                        class="pl-3 text-sm text-blue-500 hover:text-blue-700"
                        >{{ file.filename }}</span
                    >
                </a>
            </div>
        </div>
    </bisu-modal>
    <feedback
        :show="isShowCommentList"
        :parameter="parameterFeedback"
        :user="$attrs.user"
        :flash="$attrs.flash"
        @addComment:hide="showCommentModal(false)"
    />
    <!-- END MODAL -->
    <div class="py-1 sm:bg-white sm:px-5 sm:py-3">
        <div class="overflow-hidden shadow-lg rounded-xl">
            <div class="w-full px-4 py-2 text-center bg-indigo-700 sm:flex">
                <div class="flex font-semibold text-white">
                    <div class="m-auto text-sm uppercase">
                        Parameter {{ integer_to_alpha(index + 1) }}:
                        {{ parameter.name }}
                    </div>
                </div>
                <div class="ml-auto">
                    <bisu-button
                        v-if="
                            $page.props.auth.user.roles[0].name ===
                            'Super Admin'
                        "
                        class="text-gray-300"
                        variant="primary"
                        rounded
                        @click.prevent="addModeList(true, parameter)"
                    >
                        Add List
                    </bisu-button>
                </div>
            </div>
            <div class="text-sm">
                <ul
                    class="p-5 list-none bg-white pl-7 lg:p-5 lg:pl-10 sm:bg-transparent"
                >
                    <div
                        class="w-full text-center"
                        v-if="parameter.parameter_lists.length === 0"
                    >
                        - No Parameter List(s) -
                    </div>
                    <li v-for="(list, i) in parameter.parameter_lists" :key="i">
                        <div class="py-1 border-b border-gray-200">
                            <div
                                v-if="list.sub_parameter === null"
                                class="w-full text-xs sm:flex"
                            >
                                <div class="capitalize sm:flex">
                                    <div
                                        class="m-auto font-semibold text-center uppercase sm:text-left"
                                    >
                                        <span class="font-bold">
                                            {{
                                                parameter.name.charAt(0) +
                                                "." +
                                                (i + 1) +
                                                ". "
                                            }}
                                        </span>
                                        {{ list.name }}
                                    </div>
                                </div>
                                <div class="flex ml-auto text-center">
                                    <a
                                        v-if="
                                            (list.isUpload === true &&
                                                $page.props.auth.user.roles[0]
                                                    .name === 'Super Admin') ||
                                            ($page.props.auth.user.roles[0]
                                                .name === 'Admin' &&
                                                $attrs.area.users.find(
                                                    (user) => {
                                                        return (
                                                            $page.props.auth
                                                                .user.id ===
                                                            user.id
                                                        );
                                                    }
                                                ))
                                        "
                                        href=""
                                        target="_blank"
                                        @click.prevent="
                                            showUploadFormModal(true, list)
                                        "
                                        class="w-full px-3 py-2 m-auto mr-2 text-gray-700 rounded-lg shadow-lg hover:text-yellow-700 sm:w-auto"
                                    >
                                        <span class="hidden sm:flex">
                                            Browse Files
                                        </span>
                                        <span class="sm:hidden">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 m-auto"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                                                />
                                            </svg>
                                        </span>
                                    </a>
                                    <a
                                        v-if="list.files.length !== 0"
                                        href="#"
                                        @click.prevent="
                                            showFilesModal(true, list)
                                        "
                                        target="_blank"
                                        class="w-full px-3 py-2 m-auto mr-2 text-gray-700 rounded-lg shadow-lg hover:text-yellow-700 sm:w-auto"
                                    >
                                        <span class="hidden sm:flex">
                                            View Files
                                        </span>
                                        <span class="sm:hidden">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-5 h-5 m-auto"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z"
                                                />
                                            </svg>
                                        </span>
                                    </a>
                                    <a
                                        v-if="
                                            $page.props.auth.user.roles[0]
                                                .name === 'Super Admin'
                                        "
                                        @click.prevent="
                                            addModeSubList(true, list)
                                        "
                                        href=""
                                        class="w-full px-3 py-2 m-auto mr-2 text-blue-700 rounded-lg shadow-lg sm:w-auto"
                                    >
                                        <span class="hidden sm:flex">
                                            Add Sub List
                                        </span>
                                        <span class="sm:hidden">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-5 h-5 m-auto"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                                    clip-rule="evenodd"
                                                />
                                            </svg>
                                        </span>
                                    </a>
                                    <a
                                        @click.prevent="
                                            updateListMode(true, list)
                                        "
                                        href=""
                                        class="w-full px-3 py-2 m-auto mr-2 text-green-700 rounded-lg shadow-lg sm:w-auto"
                                        v-if="
                                            !isShowUpdateList &&
                                            $page.props.auth.user.roles[0]
                                                .name === 'Super Admin'
                                        "
                                    >
                                        <span class="hidden sm:flex">
                                            Edit List
                                        </span>
                                        <span class="sm:hidden">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-4 h-4 m-auto"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                            >
                                                <path
                                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                                                />
                                            </svg>
                                        </span>
                                    </a>
                                    <a
                                        v-if="
                                            $page.props.auth.user.roles[0]
                                                .name === 'Super Admin' &&
                                            ratingSetting === null
                                        "
                                        href=""
                                        @click.prevent="deleteList(list)"
                                        class="w-full px-3 py-2 m-auto text-red-700 rounded-lg shadow-lg sm:w-auto"
                                    >
                                        <span class="hidden sm:flex">
                                            Remove
                                        </span>
                                        <span class="sm:hidden">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-5 h-5 m-auto"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                                                />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                                <span
                                    v-if="
                                        list.sub_parameters.length === 0 &&
                                        $page.props.auth.user.roles[0].name ===
                                            'Accreditor' &&
                                        $attrs.area.users.find((user) => {
                                            return (
                                                $page.props.auth.user.id ===
                                                user.id
                                            );
                                        }) &&
                                        isRate
                                    "
                                >
                                    <bisu-select
                                        name="rate"
                                        :options="[
                                            { id: -1, name: 'N/A' },
                                            { id: 0, name: 0 },
                                            { id: 1, name: 1 },
                                            { id: 2, name: 2 },
                                            { id: 3, name: 3 },
                                            { id: 4, name: 4 },
                                            { id: 5, name: 5 },
                                        ]"
                                        size="xsmall"
                                        v-model="list.rating"
                                        rounded
                                        placeholder="Select Rate"
                                        @input="
                                            reset('rating'), storeList(list)
                                        "
                                        :errorMessage="
                                            nullRatingIds.includes(list.id)
                                                ? 'Please choose'
                                                : ''
                                        "
                                    />
                                </span>
                                <div v-else class="flex">
                                    <div
                                        class="m-auto"
                                        v-if="
                                            $page.props.auth.user.roles[0]
                                                .name === 'Accreditor' ||
                                            (ratingSetting !== null &&
                                                ratingSetting.status ===
                                                    'rated')
                                        "
                                    >
                                        Rate :
                                        <span
                                            v-if="
                                                list.rating >= 0 ||
                                                list.rating === null
                                            "
                                        >
                                            {{
                                                list.rating === null
                                                    ? "No Rating"
                                                    : list.rating.toFixed(2)
                                            }}
                                        </span>
                                        <span v-else>N/A</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            v-for="(sub_list, a) in list.sub_parameters"
                            :key="a"
                        >
                            <parameter-sub-lists
                                @update:parameterList="refreshData"
                                @update:parameterSubList="refreshData"
                                @store_list="storeList"
                                :flash="$attrs.flash"
                                :index="a"
                                :paddingLeft="2"
                                :isRate="isRate"
                                :nullRatingIds="nullRatingIds"
                                :version="
                                    '.' + (index + 1) + '.' + (a + 1) + '.'
                                "
                                :list="list.name.charAt(0)"
                                :sub_list="sub_list"
                                :parameter="parameter"
                                :parameters="$attrs.parameters"
                                :areas="$attrs.areas"
                                :area="$attrs.area"
                                :user="$attrs.user"
                                :files="$attrs.files"
                                :folders="$attrs.folders"
                                :ratingSetting="ratingSetting"
                            />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import ParameterSubLists from "./ParameterSubLists";
import Feedback from "./Feedback.vue";
import Toastr from "toastr2";
import BisuAddFileForm from "../Components/AddFileForm.vue";

const toastr = new Toastr();

export default {
    props: {
        parameter: {
            type: Object,
            default: () => {},
        },
        index: {
            type: Number,
            default: null,
        },
        isRate: {
            type: Boolean,
            default: false,
        },
        nullRatingIds: {
            type: Array,
            default: () => [],
        },
        ratingSetting: {
            type: Object,
            default: () => {},
        },
    },
    components: {
        ParameterSubLists,
        Feedback,
        BisuAddFileForm,
    },
    data() {
        return {
            isShowFilesForm: false,
            isShowCommentList: false,
            isShowUploadForm: false,
            isShowAddList: false,
            isShowAddSubList: false,
            isShowUpdateList: false,
            newFormList: this.$inertia.form({
                parameter_id: "",
                isUpload: false,
                name: "",
            }),
            newFormSubList: this.$inertia.form({
                parameter_id: "",
                sub_parameter: "",
                isUpload: false,
                name: "",
            }),
            updateFormList: this.$inertia.form({
                name: "",
                parameter_id: "",
                isUpload: false,
                rating: "",
            }),
            newUploadFile: this.$inertia.form({
                parameter_list_id: "",
                files: [],
            }),
            parameterFeedback: {},
            fileSearch: "",
            selectedFileSearch: "",
            selectedParameterList: {
                files: [],
            },
        };
    },
    emits: [
        "addListModal",
        "update:parameterList",
        "update:parameterSubList",
        "updateListModal:hide",
        "addSubListModal:hide",
        "addFile:hide",
        "addComment:hide",
        "store_list",
    ],
    computed: {
        resultSelectedFilesQuery() {
            if (this.selectedFileSearch) {
                return this.selectedParameterList.files.filter((list) => {
                    if (list.filename) {
                        return this.selectedFileSearch
                            .toLowerCase()
                            .split("")
                            .every((v) =>
                                list.filename.toLowerCase().includes(v)
                            );
                    }
                });
            }
            return this.selectedParameterList.files;
        },
        resultFilesQuery() {
            if (this.fileSearch) {
                return this.$attrs.files.filter((list) => {
                    if (list.filename) {
                        return this.fileSearch
                            .toLowerCase()
                            .split("")
                            .every((v) =>
                                list.filename.toLowerCase().includes(v)
                            );
                    }
                });
            }
            return this.$attrs.files;
        },
    },
    methods: {
        storeList(list) {
            this.$emit("store_plist", list);
        },
        addModeList(bool, parameter) {
            this.isShowAddList = bool;
            this.newFormList.parameter_id = parameter.id;
        },
        commentModeList(bool, parameter) {
            this.isShowCommentList = bool;
            this.parameterFeedback = parameter;
        },
        addModeSubList(bool, list) {
            this.isShowAddSubList = bool;
            this.newFormSubList.parameter_id = this.parameter.id;
            this.newFormSubList.sub_parameter = list.id;
        },
        showCommentModal(bool) {
            this.isShowCommentList = bool;
        },
        async addParameterList() {
            await this.newFormList.post("/parameter-lists", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.clearFields();
                    this.isShowAddList = false;
                    this.$emit("update:parameterList");
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        async addSubParameterList() {
            await this.newFormSubList.post("/parameter-lists", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.clearFields();
                    this.isShowAddSubList = false;
                    this.$emit("update:parameterList");
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        async updateParameterList() {
            await this.updateFormList.put(
                "/parameter-lists/" + this.updateFormList.id,
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                        this.clearFields();
                        this.isShowUpdateList = false;
                        this.$emit("update:parameterList");
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },
        async uploadPdfFile() {
            await this.newUploadFile.post(
                "/upload-file/" + this.newUploadFile.parameter_list_id,
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                        // this.clearFields();
                        this.isShowUploadForm = false;
                        this.$emit("update:parameterList");
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },
        clearFields() {
            this.newUploadFile = this.$inertia.form({
                parameter_list_id: "",
                filename: [],
            });
            this.newFormList = this.$inertia.form({
                parameter_id: this.parameter.id,
                isUpload: false,
                name: "",
            });
            this.newFormSubList = this.$inertia.form({
                parameter_id: "",
                sub_parameter: "",
                isUpload: false,
                name: "",
            });
            this.updateFormList = this.$inertia.form({
                parameter_id: "",
                isUpload: false,
                name: "",
                rating: "",
            });
        },
        async deleteList(list) {
            if (
                !confirm(
                    "Are you sure want to delete " +
                        list.name +
                        " parameter list? \n All the data under on this parameter list will be gone."
                )
            )
                return;
            await this.$inertia.delete("/parameter-lists/" + list.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.$emit("update:parameterList");
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },

        refreshData() {
            this.$emit("update:parameterList");
        },
        reset(field) {
            this.newFormList.errors[field] = "";
        },
        async saveRating(list) {
            this.updateFormList.rating = list.rating;
            this.updateFormList.id = list.id;
            this.updateFormList.parameter_id = list.parameter_id;
            this.updateFormList.name = list.name;
            this.updateFormList.isUpload = list.isUpload;
            await this.updateParameterList();
        },

        showModal(bool) {
            this.isShowAddList = bool;
            this.isShowUpdateList = bool;
            this.isShowAddSubList = bool;
            this.isShowUploadForm = bool;
            this.isShowFilesForm = bool;
        },
        showUploadFormModal(bool, list) {
            this.isShowUploadForm = bool;
            this.newUploadFile.parameter_list_id = list.id;
            list.files.map((r) => {
                this.newUploadFile.files.push(r.id);
            });
        },

        showFilesModal(bool, list) {
            this.isShowFilesForm = bool;
            this.selectedParameterList = list;
        },

        updateListMode(bool, list) {
            this.isShowUpdateList = bool;
            this.updateFormList.parameter_id = list.parameter_id;
            this.updateFormList.name = list.name;
            this.updateFormList.isUpload = list.isUpload;
            this.updateFormList.id = list.id;
            this.updateFormList.rating = list.rating;
        },
    },
};
</script>
