<template>
    <div id="print" class="px-5 max-w-7xl mx-auto mt-5 mb-10">
        <div>
            <div
                class="font-bold py-1 text-center text-lg border-t border-r border-l"
            >
                {{ area.name }}
            </div>
            <div class="grid grid-cols-7 text-sm text-center divide-x border">
                <div>
                    <div class="border-b py-1">NA</div>
                    <div class="border-b py-1">-</div>
                    <div class="px-5 pb-5">Not Applicable</div>
                </div>
                <div>
                    <div class="border-b py-1">0</div>
                    <div class="border-b py-1">-</div>
                    <div class="px-5 pb-5">Not Applicable</div>
                </div>
                <div>
                    <div class="border-b py-1">1</div>
                    <div class="border-b py-1">Poor</div>
                    <div class="px-5 pb-5">
                        Criterion is met minimally in some respects, but much
                        improvement is needed to overcome weaknesses
                        <div class="mt-10">(75% lesser than the standards)</div>
                    </div>
                </div>
                <div>
                    <div class="border-b py-1">2</div>
                    <div class="border-b py-1">Fair</div>
                    <div class="px-5 pb-5">
                        Criterion is met in most respects, but some improvement
                        is needed to overcome weaknesses
                        <div class="mt-10">(50% lesser than the standards)</div>
                    </div>
                </div>
                <div>
                    <div class="border-b py-1">3</div>
                    <div class="border-b py-1">Satisfactory</div>
                    <div class="px-5 pb-5">
                        Criterion is met in all respects
                        <div class="mt-10">
                            (100% lesser than the standards)
                        </div>
                    </div>
                </div>
                <div>
                    <div class="border-b py-1">4</div>
                    <div class="border-b py-1">Very Satisfactory</div>
                    <div class="px-5 pb-5">
                        Criterion is fully met in all respects, at a level that
                        demonstrates good practice
                        <div class="mt-10">
                            (50% greater than the standards)
                        </div>
                    </div>
                </div>
                <div>
                    <div class="border-b py-1">5</div>
                    <div class="border-b py-1">Excellent</div>
                    <div class="px-5 pb-5">
                        Criterion is fully met with substantial number of goo
                        practices, at a level that provides a model for others
                        <div class="mt-10">
                            (75% greater than the standards)
                        </div>
                    </div>
                </div>
                <div class="col-span-6">
                    <div class="py-1 border-t font-semibold">INDICATORS</div>
                </div>
                <div class="py-1 border-t font-semibold">Item Rating (IR)</div>
                <template v-for="parameter in area.parameters">
                    <div class="col-span-6 pl-1 text-left">
                        <div class="py-1 border-t font-semibold">
                            {{ parameter.name }}
                        </div>
                    </div>
                    <div class="py-1 border-t">{{ parameter.rating }}</div>
                    <template v-for="list in parameter.parameter_lists">
                        <PrintableList :list="list" :paddingLeft="10" bold />
                    </template>
                </template>
            </div>
        </div>

        <div class="no-print my-10 float-right flex space-x-2">
            <bisu-link
                variant="danger"
                :href="`/e-files-of-supporting-documents/${area.course_id}`"
                >Cancel</bisu-link
            >
            <bisu-button @click.prevent="printDocs()">Print</bisu-button>
        </div>
    </div>
</template>

<script>
import PrintableList from "../Components/PrintableList.vue";

export default {
    components: {
        PrintableList,
    },
    props: {
        area: {
            type: Object,
            default: () => {},
        },
    },
    methods: {
        printDocs() {
            window.print();
        },
    },
};
</script>

<style scoped>
@media print {
    .no-print {
        display: none !important;
    }
    .print {
        display: block !important;
    }
}
</style>
