<template>
    <bisu-modal :isShow="isShow" size="small" @modal:hide="hideModal">
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Program and Certificate
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="addProgram">
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div
                    v-cloak
                    @drop.prevent="addFile"
                    @dragover.prevent
                    class="flex justify-center max-w-lg px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
                >
                    <div
                        class="space-y-1 text-center"
                        v-if="newForm.files.length === 0"
                    >
                        <svg
                            class="w-12 h-12 mx-auto text-gray-400"
                            stroke="currentColor"
                            fill="none"
                            viewBox="0 0 48 48"
                            aria-hidden="true"
                        >
                            <path
                                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                        <div class="flex text-sm text-gray-600">
                            <label
                                for="file-upload"
                                class="relative font-medium text-indigo-600 bg-white rounded-md cursor-pointer hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500"
                            >
                                <span>Upload a file</span>
                                <input
                                    id="file-upload"
                                    name="file-upload"
                                    type="file"
                                    @input="
                                        newForm.files = [$event.target.files[0]]
                                    "
                                    class="sr-only"
                                />
                            </label>
                            <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs text-gray-500">
                            PNG, JPG, GIF up to 10MB
                        </p>
                    </div>
                    <ul v-else class="w-full">
                        <li
                            v-for="(file, index) in newForm.files"
                            :key="index"
                            class="mb-1"
                        >
                            <div class="flex text-xs">
                                {{ file.name }} ({{ file.size / 1024 }} kb)
                                <button
                                    class="px-2 py-1 ml-auto text-xs text-white transition duration-150 ease-in-out bg-red-700 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600"
                                    @click="removeFile(file)"
                                    title="Remove"
                                >
                                    X
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                    :disabled="uploadDisabled"
                    type="submit"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white border border-transparent rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
                    :class="{
                        'cursor-default text-gray-400 bg-blue-800':
                            uploadDisabled,
                        'hover:bg-blue-700 bg-blue-600': !uploadDisabled,
                    }"
                >
                    Upload
                </button>
            </div>
        </form>
    </bisu-modal>
    <div class="p-5 m-5 bg-gray-100 shadow-lg">
        <div>
            <bisu-button
                v-if="$page.props.auth.user.roles[0].name === 'Super Admin'"
                class="text-white"
                type="button"
                @click.prevent="isShow = true"
            >
                Upload Program/Certificate
            </bisu-button>
        </div>
        <div class="pt-5 mt-5 border-t border-gray-200">
            <div v-if="$attrs.programs.length === 0" class="text-center">
                - No Programs and Certificate -
            </div>
            <div
                class="grid grid-cols-1 p-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
            >
                <div
                    v-for="(program, index) in $attrs.programs"
                    :key="index"
                    class="px-2"
                >
                    <div
                        class="mb-2 text-center"
                        v-if="
                            $page.props.auth.user.roles[0].name ===
                            'Super Admin'
                        "
                    >
                        <bisu-button
                            @click.prevent="deleteProgram(program)"
                            variant="danger"
                            size="small"
                            type="button"
                        >
                            Delete
                        </bisu-button>
                    </div>
                    <img :src="'/storage/programs/' + program.url" alt="" />
                    <p
                        class="py-1 text-center text-blue-600 cursor-pointer hover:underline"
                    >
                        <a :href="'/storage/programs/' + program.url">{{
                            program.filename
                        }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();
export default {
    layout: AppLayout,
    data() {
        return {
            isShow: false,
            newForm: this.$inertia.form({
                files: [],
            }),
        };
    },
    computed: {
        uploadDisabled() {
            return this.newForm.files.length === 0;
        },
    },
    emits: ["modal:hide"],
    methods: {
        addFile(e) {
            let droppedFiles = e.dataTransfer.files;
            if (!droppedFiles) return;
            // this tip, convert FileList to array, credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
            [...droppedFiles].forEach((f) => {
                this.newForm.files.push(f);
            });
        },
        async addProgram() {
            await this.newForm.post("/programs", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.isShow = false;
                    this.newForm = this.$inertia.form({
                        files: [],
                    });
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        async deleteProgram(program) {
            if (
                !confirm(
                    "Are you sure want to delete " + program.filename + " file?"
                )
            )
                return;
            await this.$inertia.delete("/programs/" + program.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.newForm = this.$inertia.form({
                        files: [],
                    });
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },
        removeFile(file) {
            this.newForm.files = this.newForm.files.filter((f) => {
                return f != file;
            });
        },
        hideModal() {
            this.isShow = false;
            this.newForm = this.$inertia.form({
                files: [],
            });
        },
    },
};
</script>
