<template>
    <div>
        <div v-for="(param, index) in $attrs.selected_parameters" :key="index">
            <div class="flex py-2 text-sm border-b border-gray-300">
                <div class="my-auto">{{ param.name }}</div>
                <div v-for="(file, a) in param.files" :key="a">
                    {{ file.filename }}
                </div>
                <div class="ml-auto">
                    <bisu-select
                        v-if="param.parameter_lists.length === 0"
                        name="rate"
                        :options="[
                            { id: 'N/A', name: 'N/A' },
                            { id: 0, name: 0 },
                            { id: 1, name: 1 },
                            { id: 2, name: 2 },
                            { id: 3, name: 3 },
                            { id: 4, name: 4 },
                            { id: 5, name: 5 },
                        ]"
                        size="xsmall"
                        v-model="param.rating"
                        rounded
                        placeholder="Select Rate"
                        @input="reset('rating')"
                    />
                </div>
            </div>
            <div
                class="ml-5"
                v-for="(list, l) in param.parameter_lists"
                :key="l"
            >
                <div class="flex py-2 text-sm border-b border-gray-300">
                    <div class="my-auto">{{ list.name }}</div>
                    <div>
                        <div v-for="(file, a) in list.files" :key="a">
                            {{ file.filename }}
                        </div>
                    </div>
                    <div class="ml-auto">
                        <bisu-select
                            name="rate"
                            :options="[
                                { id: 'N/A', name: 'N/A' },
                                { id: 0, name: 0 },
                                { id: 1, name: 1 },
                                { id: 2, name: 2 },
                                { id: 3, name: 3 },
                                { id: 4, name: 4 },
                                { id: 5, name: 5 },
                            ]"
                            size="xsmall"
                            v-model="list.rating"
                            rounded
                            placeholder="Select Rate"
                            @input="reset('rating')"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();

export default {
    layout: AppLayout,
    data() {
        return {
            rating: "",
        };
    },
};
</script>
