<template>
    <bisu-modal
        :isShow="isShowUploadForm"
        size="small"
        @addFile:hide="showModal(false)"
    >
        <div class="sm:flex sm:items-start">
            <div class="flex-grow mt-3 text-center sm:mt-0 sm:text-left">
                <h3
                    class="text-lg font-medium leading-6 text-gray-900"
                    id="modal-title"
                >
                    Add Report File
                </h3>
                <div class="mt-1 mb-2">
                    <p class="text-xs text-gray-500">
                        Fill up all the field(s) given. Make sure that the
                        uploaded file is a pdf file.
                    </p>
                </div>
            </div>
        </div>
        <!-- Create course Form -->
        <form @submit.prevent="uploadReportFile">
            <bisu-input
                v-model="newUploadFile.file"
                type="file"
                text="Report File"
                name="file"
                placeholder="Select File"
                class="mr-1"
                required
                size="small"
                @input="
                    reset('filename'),
                        (newUploadFile.filename = $event.target.files[0])
                "
                :errorMessage="newUploadFile.errors['filename']"
            />
            <div class="flex mt-5 sm:mt-4">
                <bisu-button variant="primary" class="w-full">
                    Save
                </bisu-button>
                <bisu-button
                    @click.prevent="showModal(false)"
                    type="button"
                    variant="danger"
                    class="w-full"
                >
                    Cancel
                </bisu-button>
            </div>
        </form>
    </bisu-modal>
    <div class="">
        <div class="inline-flex w-full">
            <div class="w-3/12 m-10 text-center">
                <h3 class="pb-2">List of Courses</h3>
                <div class="w-1/4 m-auto mb-3 border-b border-gray-300"></div>
                <ul>
                    <li
                        v-for="(course, index) in $attrs.courses"
                        :key="index"
                        class="py-3 shadow-sm cursor-pointer  hover:bg-blue-600 hover:text-white"
                        :class="{
                            'bg-blue-600 text-white':
                                activeCourse.id == course.id,
                        }"
                        @click.prevent="getCourse(course, index)"
                    >
                        <div class="">
                            {{ course.name }}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="w-full col-span-2 py-5 mr-5 bg-gray-100 shadow-lg">
                <div class="text-sm">
                    <h3 class="mb-2 text-lg font-semibold text-center">
                        List of Area(s) & there report files
                    </h3>
                    <div
                        class="text-center"
                        v-if="activeCourse.areas.length === 0"
                    >
                        - No File(s) Uploaded -
                    </div>
                    <ul class="">
                        <li
                            v-for="(area, a) in activeCourse.areas"
                            :key="a"
                            class="py-2 border-b border-gray-200  hover:bg-gray-200"
                        >
                            <div class="flex px-5">
                                <div class="font-semibold">{{ area.name }}</div>
                                <div class="ml-auto">
                                    <span v-if="area.report !== null">
                                        <a
                                            :href="
                                                '/storage/reports/' +
                                                area.report.url
                                            "
                                            target="_blank"
                                            class="mr-1  hover:text-blue-600 hover:underline"
                                        >
                                            {{ area.report.filename }}
                                        </a>
                                        <bisu-button
                                            v-if="
                                                $page.props.auth.user.roles[0]
                                                    .name !== 'Accreditor'
                                            "
                                            variant="danger"
                                            size="small"
                                            @click.prevent="
                                                deleteReport(area.report)
                                            "
                                        >
                                            Delete File Report
                                        </bisu-button>
                                    </span>
                                    <span>
                                        <bisu-button
                                            v-if="
                                                $page.props.auth.user.roles[0]
                                                    .name !== 'Accreditor'
                                            "
                                            variant="outline"
                                            size="small"
                                            @click.prevent="uploadModal(area)"
                                        >
                                            Upload/Update File Report
                                        </bisu-button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();

export default {
    layout: AppLayout,
    created() {
        this.activeCourse = this.$attrs.courses[0];
    },
    data() {
        return {
            isShowUploadForm: false,
            activeCourse: "",
            newUploadFile: this.$inertia.form({
                area_id: "",
                filename: "",
                file: "",
            }),
            activeIndex: 0,
        };
    },
    methods: {
        clearFields() {
            this.newUploadFile = this.$inertia.form({
                area_id: "",
                filename: "",
                file: "",
            });
        },
        async deleteReport(report) {
            if (
                !confirm(
                    "Are you sure want to delete " +
                        report.filename +
                        " report?"
                )
            )
                return;
            await this.$inertia.delete("/reports/" + report.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.activeCourse = this.$attrs.courses[this.activeIndex];
                },
                onError: (errors) => {
                    toastr.error("Unable to delete.");
                },
            });
        },
        getCourse(course, index) {
            this.activeCourse = course;
            this.activeIndex = index;
        },
        uploadModal(area) {
            this.newUploadFile.area_id = area.id;
            this.isShowUploadForm = true;
        },
        showModal(bool) {
            this.isShowUploadForm = bool;
        },
        async uploadReportFile() {
            await this.newUploadFile.post("/reports", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.clearFields();
                    this.isShowUploadForm = false;
                    this.activeCourse = this.$attrs.courses[this.activeIndex];
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        reset(field) {
            this.newUploadFile.errors[field] = "";
        },
    },
};
</script>

<style></style>
