<template>
    <div class="">
        <div class="overflow-hidden text-center shadow-2xl">
            <img src="/images/cover.png" class="w-full sm:h-96" />
        </div>
        <div class="m-10">
            <div class="flex">
                <div class="m-auto text-center text-gray-600">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-24 m-auto"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                        />
                    </svg>
                    <div class="text-3xl font-bold">AACCUP Accreditation</div>
                </div>
            </div>
            <div
                class="grid grid-cols-1 mt-5  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
            >
                <div class="my-3 text-center">
                    <a href="/accreditors">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-20 p-5 m-auto text-yellow-600 bg-indigo-900 rounded-full  hover:bg-yellow-600 hover:text-blue-900"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                            />
                        </svg>
                        <div class="mt-2 text-lg text-gray-900">
                            The Accreditors
                        </div></a
                    >
                </div>
                <div class="my-3 text-center">
                    <a href="/contact-details-of-local-counterparts">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-20 p-5 m-auto text-yellow-600 bg-indigo-900 rounded-full  hover:bg-yellow-600 hover:text-blue-900"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 2a1 1 0 00-1 1v1a1 1 0 002 0V3a1 1 0 00-1-1zM4 4h3a3 3 0 006 0h3a2 2 0 012 2v9a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2zm2.5 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm2.45 4a2.5 2.5 0 10-4.9 0h4.9zM12 9a1 1 0 100 2h3a1 1 0 100-2h-3zm-1 4a1 1 0 011-1h2a1 1 0 110 2h-2a1 1 0 01-1-1z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="mt-2 text-lg text-gray-900">
                            Contact Details of Local Counterparts
                        </div>
                    </a>
                </div>
                <div class="my-3 text-center">
                    <a href="/programs">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-20 p-5 m-auto text-yellow-600 bg-indigo-900 rounded-full  hover:bg-yellow-600 hover:text-blue-900"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="mt-2 text-lg text-gray-900">
                            Program and Certificate of Authenticity
                        </div>
                    </a>
                </div>
                <div class="my-3 text-center">
                    <a href="/e-files-of-supporting-documents">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-20 p-5 m-auto text-yellow-600 bg-indigo-900 rounded-full  hover:bg-yellow-600 hover:text-blue-900"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="mt-2 text-lg text-gray-900">
                            e-Files of Supporting Documents
                        </div>
                    </a>
                </div>
                <div class="my-3 text-center">
                    <a href="/reports">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-20 p-5 m-auto text-yellow-600 bg-indigo-900 rounded-full  hover:bg-yellow-600 hover:text-blue-900"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"
                            />
                        </svg>
                        <div class="mt-2 text-lg text-gray-900">
                            PPP / Compliance Report / Self Survey Rating
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
    layout: AppLayout,
    data() {
        return {
            options: {
                rewind: true,
                // width: 800,
                gap: "1rem",
                autoplay: true,
                pauseOnHover: false,
                arrows: "slider",
            },
        };
    },
};
</script>

<style></style>
