<template>
    <form @submit.prevent="handleSubmit">
        <div>
            <h1>Upload Files</h1>
            <p class="text-xs text-gray-500">
                You can update files here same as uploading file on databox
            </p>
            <div class="mt-2">
                <bisu-input
                    id="files"
                    name="files"
                    type="file"
                    text="Choose Files"
                    placeholder="Upload Files"
                    autofocus
                    multiple
                    @change="uploadFiles"
                />

                <div class="relative">
                    <bisu-select
                        v-if="!isAddFolder"
                        name="Folder"
                        :options="$attrs.folders"
                        size="small"
                        class="pb-2 ml-1"
                        text="Select Folder"
                        v-model="form.folder"
                        rounded
                        placeholder="Select Folder"
                        @input="reset('folder')"
                        :errorMessage="form.folder['folder']"
                        required
                    />
                    <bisu-input
                        v-else
                        v-model="newFolder.name"
                        size="small"
                        name="name"
                        class="pb-2 ml-1"
                        text="Folder name"
                        placeholder="Folder name"
                    />
                    <span
                        v-if="!isAddFolder"
                        @click.prevent="isAddFolder = true"
                        class="text-xs hover:underline absolute -bottom-3 left-3 text-gray-700 cursor-pointer"
                    >
                        Add Folder
                    </span>
                    <span
                        v-else
                        class="flex absolute -bottom-3 left-3 items-center"
                    >
                        <span
                            @click.prevent="addFolder"
                            class="mr-2 text-xs hover:underline text-blue-700 cursor-pointer"
                        >
                            Save
                        </span>
                        <span
                            @click.prevent="isAddFolder = false"
                            class="text-xs hover:underline text-red-700 cursor-pointer"
                        >
                            Cancel
                        </span>
                    </span>
                </div>
                <div class="pt-5">
                    <bisu-button>Upload</bisu-button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
import Toastr from "toastr2";
const toastr = new Toastr();

export default {
    data() {
        return {
            form: this.$inertia.form({
                files: [],
                folder: "",
            }),
            newFolder: this.$inertia.form({
                name: "",
            }),
            isAddFolder: false,
        };
    },

    methods: {
        uploadFiles(event) {
            for (const i of Object.keys(event.target.files)) {
                this.form.files.push(event.target.files[i]);
            }
        },

        async addFolder() {
            await this.newFolder.post("/folders");
            this.isAddFolder = false;
            this.newFolder.name = "";
        },

        async handleSubmit() {
            await this.form.post("/upload-files", {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.form.files = [];
                    this.form.folder = "";
                    Inertia.visit("e-files-of-supporting-documents/1", {
                        only: ["files", "folders"],
                    });
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
    },
};
</script>
