<template>
    <button
        :type="type"
        class="font-semibold mr-1 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white transition ease-in-out duration-150"
        :class="{
            'bg-gradient-to-r from-indigo-900 to-yellow-600':
                variant === 'default',
            'bg-transparent border border-gray-400 hover:bg-indigo-900':
                variant === 'outline',
            'bg-red-600 border focus:ring-red-700 border-white text-white hover:bg-red-700':
                variant === 'danger',
            'bg-blue-600 border focus:ring-blue-700 border-white text-white hover:bg-blue-700':
                variant === 'primary',
            'bg-green-600 border focus:ring-green-700 border-white text-white hover:bg-green-700':
                variant === 'secondary',
            'rounded-full': rounded,
            'rounded-md': !rounded,
            'py-2 px-5 text-xs': size === 'base',
            'py-1 px-5 text-xs': size === 'small',
            'px-5 text-xs': size === 'xsmall',
        }"
    >
        <slot />
    </button>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: "submit",
        },
        variant: {
            type: String,
            default: "default",
        },
        size: {
            type: String,
            default: "base",
        },
        rounded: {
            type: Boolean,
            default: false,
        },
    },
};
</script>
