<template>
    <div class="rounded-lg shadow-lg border border-gray-200 overflow-hidden">
        <div
            class="bg-gradient-to-r from-yellow-600 to-indigo-900 px-1 py-2 border-b border-gray-200 sm:px-6"
        >
            <h3 class="text-sm leading-2 font-medium text-gray-100">
                <slot />
            </h3>
        </div>
    </div>
</template>

<script>
export default {};
</script>
