<template>
    <div class="mb-2">
        <label :for="name" class="block text-sm font-medium text-gray-700">
            {{ text }}
            <span class="text-red-500" v-if="required">*</span>
        </label>
        <div
            class="relative mt-1"
            :class="{
                'rounded-full': rounded,
                'rounded-md': !rounded,
                'shadow-sm': !disabled,
            }"
        >
            <input
                :type="type"
                :name="name"
                :id="id"
                class="block w-full pr-3  focus:outline-none focus:ring-blue-500 focus:border-indigo-300"
                :class="{
                    capitalize: type !== 'email' && type !== 'date',
                    'rounded-full': rounded,
                    'rounded-md': !rounded,
                    'border-red-300 placeholder-red-200': errorMessage !== '',
                    'text-sm py-2 px-3': size === 'small',
                    'text-xs py-1 px-2': size === 'xsmall',
                    'text-lg py-2 px-4': size === 'large',
                    'border-gray-200': disabled,
                    'border-gray-300': !disabled,
                }"
                :placeholder="placeholder"
                :value="modelValue"
                @input="$emit('update:modelValue', $event.target.value)"
                ref="input"
                :disabled="disabled"
                multiple
            /><slot />
        </div>
        <bisu-input-error :message="errorMessage" />
    </div>
</template>

<script>
export default {
    props: {
        modelValue: {
            type: String,
            default: "",
        },
        id: {
            type: String,
            default: "",
        },
        name: {
            type: String,
            default: "",
        },
        text: {
            type: String,
            default: "",
        },
        placeholder: {
            type: String,
            default: "",
        },
        type: {
            type: String,
            default: "text",
        },
        size: {
            type: String,
            default: "default",
        },
        required: {
            type: Boolean,
            default: false,
        },
        rounded: {
            type: Boolean,
            default: false,
        },
        errorMessage: {
            type: String,
            default: "",
        },
        readOnly: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        multiple: {
            type: Boolean,
            default: false,
        },
    },

    emits: ["update:modelValue"],

    methods: {
        focus() {
            this.$refs.input.focus();
        },
    },
};
</script>
