<template>
    <a
        :href="href"
        class="block font-semibold cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 transition ease-in-out duration-150"
        :class="{
            'border-b focus:ring-indigo-700 py-5 hover:bg-indigo-700 hover:text-gray-300':
                variant === 'default',
            'bg-transparent border focus:ring-indigo-700 hover:bg-indigo-700':
                variant === 'outline',
            'bg-red-600 border focus:ring-red-700 text-white hover:bg-red-700':
                variant === 'danger',
            'bg-blue-600 border focus:ring-blue-700 text-white hover:bg-blue-700':
                variant === 'primary',
            'bg-green-600 border focus:ring-green-700 text-white hover:bg-green-700':
                variant === 'secondary',
            'rounded-full': rounded,
            'rounded-md': !rounded,
            'py-2 px-5 text-xs': size === 'base',
            'py-1 px-5 text-xs': size === 'small',
            'px-5 text-xs': size === 'xsmall',
        }"
    >
        <slot />
    </a>
</template>

<script>
export default {
    props: {
        href: {
            type: String,
            default: "",
        },
        variant: {
            type: String,
            default: "default",
        },
        size: {
            type: String,
            default: "base",
        },
        rounded: {
            type: Boolean,
            default: false,
        },
    },
};
</script>
