<template>
    <div
        v-show="isShow"
        class="fixed inset-0 z-10 overflow-y-auto"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
    >
        <div
            class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
        >
            <div
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
                aria-hidden="true"
            ></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span
                class="hidden sm:inline-block sm:align-middle sm:h-screen"
                aria-hidden="true"
                >&#8203;</span
            >
            <div
                class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
                :class="{
                    'lg:max-w-sm': size === 'small',
                    'lg:max-w-lg': size === 'regular',
                    'lg:max-w-2xl': size === 'large',
                }"
            >
                <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
                    <button
                        @click.prevent="hide()"
                        type="button"
                        class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                        <span class="sr-only">Close</span>
                        <!-- Heroicon name: outline/x -->
                        <svg
                            class="w-6 h-6"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isShow: {
            type: Boolean,
            default: false,
        },
        size: {
            type: String,
            default: "regular",
        },
    },

    emits: [
        "modal:hide",
        "updateModal:hide",
        "parameterModal:hide",
        "updateAreaModal:hide",
        "addListModal:hide",
        "updateListModal:hide",
        "updateParameterModal:hide",
        "addSubListModal:hide",
        "addFile:hide",
        "updateSubListModal:hide",
        "addComment:hide",
        "calculateRateModal:hide",
        "submitRateModal:hide",
    ],
    methods: {
        hide() {
            this.$emit("modal:hide");
            this.$emit("updateModal:hide");
            this.$emit("parameterModal:hide");
            this.$emit("updateAreaModal:hide");
            this.$emit("addListModal:hide");
            this.$emit("updateListModal:hide");
            this.$emit("updateParameterModal:hide");
            this.$emit("calculateRateModal:hide");
            this.$emit("submitRateModal:hide");
            this.$emit("addSubListModal:hide");
            this.$emit("addFile:hide");
            this.$emit("updateSubListModal:hide");
            this.$emit("addComment:hide");
        },
    },
};
</script>

<style></style>
