<template>
    <div class="col-span-6 text-left">
        <div
            :style="paddingL"
            class="py-1 border-t"
            :class="{ 'font-semibold': bold }"
        >
            {{ list.name }}
        </div>
    </div>
    <div class="py-1 border-t">{{ list.rating }}</div>
    <template v-for="sub in list.sub_parameters">
        <PrintableList :list="sub" :paddingLeft="$attrs.paddingLeft + 10" />
    </template>
</template>

<script>
export default {
    props: {
        list: {
            type: Object,
            default: () => {},
        },
        bold: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        paddingL() {
            if (screen.width > 640) {
                return { "margin-left": this.$attrs.paddingLeft + "px" };
            }
        },
    },
};
</script>
