<template>
    <div>
        <label :for="name" class="block text-sm font-medium text-gray-700">
            {{ text }}
            <span class="text-red-500" v-if="required">*</span>
        </label>
        <select
            :id="id"
            :name="name"
            :placeholder="placeholder"
            class="block w-full py-2 pl-3 pr-10 mt-1 border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            :class="{
                'rounded-full': rounded,
                'rounded-md': !rounded,
                'border-red-300 placeholder-red-200': errorMessage !== '',
                'text-sm py-2 px-3': size === 'small',
                'text-xs py-1 px-2': size === 'xsmall',
                'text-lg py-2 px-4': size === 'large',
                'border-none': disabled,
                'border-gray-300': !disabled,
                'shadow-lg': shadow,
            }"
            :disabled="disabled"
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"
            :required="required"
        >
            <option :value="null" disabled>Select {{ name }}</option>
            <option v-if="hasAll" :value="'all'">All</option>
            <option
                v-for="(option, index) in options"
                :key="index"
                :value="option.id"
            >
                {{ option.name }}
            </option>
        </select>
        <bisu-input-error :message="errorMessage" />
    </div>
</template>

<script>
export default {
    props: {
        options: {
            type: Array,
            default: () => [],
        },
        modelValue: {
            type: [String, Number],
            default: "",
        },
        id: {
            type: String,
            default: "",
        },
        name: {
            type: String,
            default: "",
        },
        text: {
            type: String,
            default: "",
        },
        placeholder: {
            type: String,
            default: "",
        },
        size: {
            type: String,
            default: "default",
        },
        rounded: {
            type: Boolean,
            default: false,
        },
        shadow: {
            type: Boolean,
            default: false,
        },
        errorMessage: {
            type: String,
            default: "",
        },
        readOnly: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        hasAll: {
            type: Boolean,
            default: false,
        },
        required: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style></style>
