<template>
    <div>
        <!-- <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <select
                id="tabs"
                name="tabs"
                class="block w-full py-2 pl-3 pr-10 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            >
                <option
                    v-for="tab in tabs"
                    :key="tab.name"
                    :selected="tab.current"
                >
                    {{ tab.name }}
                </option>
            </select>
        </div> -->
        <div class="block">
            <div class="border-b border-gray-200">
                <nav class="flex -mb-px space-x-8" aria-label="Tabs">
                    <slot />
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>
