<template>
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
                class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
                <div
                    class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
                >
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Area
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Parameter
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Parameter List
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                                >
                                    Filename
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item, index) in items"
                                :key="index"
                                :class="
                                    index % 2 === 0 ? 'bg-white' : 'bg-gray-50'
                                "
                            >
                                <td
                                    class="max-w-xs px-6 py-4 text-sm font-medium text-gray-900 truncate whitespace-nowrap"
                                >
                                    {{ get(item, "param.area.name", "") }}
                                </td>
                                <td
                                    class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ get(item, "param.name", "") }}
                                </td>
                                <td
                                    class="max-w-xs px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap"
                                >
                                    {{ item.name }}
                                </td>
                                <td
                                    class="px-6 py-4 text-sm text-gray-500 truncate whitespace-nowrap"
                                >
                                    <template
                                        v-for="(file, f) in item.files"
                                        :key="f"
                                    >
                                        <a
                                            :href="'/storage/files/' + file.url"
                                            target="_blank"
                                            class="break-words block truncate hover:text-blue-600 hover:underline"
                                        >
                                            {{ file.filename }}
                                        </a>
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import get from "lodash/get";
export default {
    props: {
        items: {
            type: Array,
            default: () => [],
        },
    },
    methods: {
        get,
    },
};
</script>
