<template>
    <div class="relative">
        <div class="text-sm text-gray-700">
            Choose Category <span class="text-red-500" v-if="required">*</span>
        </div>
        <div
            class="items-center flex-wrap py-2 px-1 bg-white rounded-md border-gray-300 border"
            style="-webkit-box-align: center"
            :class="{
                active: isActive,
                disabled: disabled,
                'border-red-300': errorMessage !== '',
            }"
        >
            <div v-if="tags.length === 0" class="flex h-12">
                <div class="m-auto text-sm text-center">
                    - No Categories Selected -
                </div>
            </div>
            <div
                v-else
                class="h-12 overflow-scroll mb-3 overflow-x-hidden scrollbar scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100 ml-3"
            >
                <span
                    v-for="(tag, index) in tags"
                    :key="index"
                    class="relative inline-block p-1 text-xs mb-2 rounded-xl pl-3 pr-7 bg-secondary text-white ml-1"
                    :class="{ disabled: disabled }"
                >
                    <slot
                        name="selected-tag"
                        :tag="tag"
                        :index="index"
                        :removeTag="removeTag"
                    >
                        <span>{{ tag[textField] }}</span>

                        <a
                            v-show="!disabled"
                            href="#"
                            class="absolute inline-block ml-2 px-1 font-medium text-white overflow-hidden cursor-pointer bg-red-400 rounded-3xl"
                            @click.prevent="removeTag(index)"
                        >
                            x
                        </a>
                    </slot>
                </span>
            </div>
            <hr />

            <input
                v-show="!hideInputField"
                ref="taginput"
                v-model="input"
                class="border-none w-full bg-transparent px-2 block rounded-2xl focus:border-transparent text-sm"
                :class="{
                    'placeholder-red-200': errorMessage !== '',
                }"
                type="text"
                :placeholder="placeholder"
                @keydown.enter.prevent="tagFromInput(false)"
                @keydown.8="removeLastTag"
                @keydown.down="nextSearchResult"
                @keydown.up="prevSearchResult"
                @keydown="onKeyDown"
                @keyup="onKeyUp"
                @keyup.esc="clearSearchResults"
                @focus="onFocus"
                @click="onClick"
                @blur="onBlur"
                @value="modelValue"
            />

            <div v-if="elementId" style="display: none">
                <input
                    v-for="(tag, index) in tags"
                    :key="index"
                    type="hidden"
                    :name="`${elementId}[]`"
                    :value="hiddenInputValue(tag)"
                />
            </div>

            <!-- Typeahead/Autocomplete -->
            <div
                v-show="searchResults.length"
                class="h-20 overflow-auto overscroll-auto mt-4 p-3 absolute z-50 shadow-lg bg-white w-full"
            >
                <p
                    v-if="typeaheadStyle === 'badges'"
                    :class="`typeahead-${typeaheadStyle}`"
                >
                    <span
                        v-if="!typeaheadHideDiscard"
                        class="cursor-pointer mr-1 relative inline-block p-1 italic text-xs bg-gray-600 text-gray-300 rounded"
                        @click.prevent="clearSearchResults(true)"
                        v-text="discardSearchText"
                    ></span>

                    <span
                        v-for="(tag, index) in searchResults"
                        :key="index"
                        class="cursor-pointer mr-1 relative rounded-3xl inline-block p-1 px-3 italic text-xs"
                        :class="{
                            ' bg-gray-300 text-gray-800 ':
                                index != searchSelection,
                            ' bg-secondary text-white':
                                index === searchSelection,
                        }"
                        @mouseover="searchSelection = index"
                        @mousedown.prevent="tagFromSearchOnClick(tag)"
                    >
                        {{ tag[textField] }}
                    </span>
                </p>

                <ul
                    v-else-if="typeaheadStyle === 'dropdown'"
                    :class="`typeahead-${typeaheadStyle}`"
                >
                    <li
                        v-if="!typeaheadHideDiscard"
                        class="bg-gray-700 text-gray-300 italic pl-2"
                        @click.prevent="clearSearchResults(true)"
                        v-text="discardSearchText"
                    ></li>

                    <li
                        v-for="(tag, index) in searchResults"
                        :key="index"
                        class="pl-2"
                        :class="{
                            'bg-gray-400 text-gray-800 ':
                                index != searchSelection,
                            'bg-secondary text-white ':
                                index === searchSelection,
                        }"
                        @mouseover="searchSelection = index"
                        @mousedown.prevent="tagFromSearchOnClick(tag)"
                    >
                        {{ tag[textField] }}
                    </li>
                </ul>
            </div>
        </div>
        <bisu-input-error :message="errorMessage" />
    </div>
</template>

<script>
export default {
    props: {
        errorMessage: {
            type: String,
            default: "",
        },

        elementId: {
            type: String,
            default: null,
        },

        required: {
            type: Boolean,
            default: false,
        },

        existingTags: {
            type: Array,
            default: () => {
                return [];
            },
        },

        tagsType: {
            type: String,
            default: "",
        },

        value: {
            type: Array,
            default: () => [],
        },

        idField: {
            type: String,
            default: "id",
        },

        textField: {
            type: String,
            default: "name",
        },

        valueFields: {
            type: String,
            default: null,
        },

        disabled: {
            type: Boolean,
            default: false,
        },

        typeahead: {
            type: Boolean,
            default: false,
        },

        typeaheadStyle: {
            type: String,
            default: "badges",
        },

        typeaheadActivationThreshold: {
            type: Number,
            default: 1,
        },

        typeaheadMaxResults: {
            type: Number,
            default: 0,
        },

        typeaheadAlwaysShow: {
            type: Boolean,
            default: false,
        },

        typeaheadShowOnFocus: {
            type: Boolean,
            default: true,
        },

        typeaheadHideDiscard: {
            type: Boolean,
            default: false,
        },

        typeaheadUrl: {
            type: String,
            default: "",
        },

        placeholder: {
            type: String,
            default: "Enter a category",
        },

        discardSearchText: {
            type: String,
            default: "Discard Search Results",
        },

        limit: {
            type: Number,
            default: 0,
        },

        hideInputOnLimit: {
            type: Boolean,
            default: false,
        },

        onlyExistingTags: {
            type: Boolean,
            default: false,
        },

        deleteOnBackspace: {
            type: Boolean,
            default: true,
        },

        allowDuplicates: {
            type: Boolean,
            default: false,
        },

        validate: {
            type: Function,
            default: () => true,
        },

        addTagsOnComma: {
            type: Boolean,
            default: false,
        },

        addTagsOnSpace: {
            type: Boolean,
            default: false,
        },

        addTagsOnBlur: {
            type: Boolean,
            default: false,
        },

        wrapperClass: {
            type: String,
            default: "tags-input-wrapper-default",
        },

        sortSearchResults: {
            type: Boolean,
            default: true,
        },

        caseSensitiveTags: {
            type: Boolean,
            default: false,
        },

        beforeAddingTag: {
            type: Function,
            default: () => true,
        },

        beforeRemovingTag: {
            type: Function,
            default: () => true,
        },
    },

    data() {
        return {
            badgeId: 0,
            tags: [],

            input: "",
            oldInput: "",
            hiddenInput: "",

            searchResults: [],
            searchSelection: 0,

            selectedTag: -1,

            isActive: false,
        };
    },

    computed: {
        hideInputField() {
            return (
                (this.hideInputOnLimit &&
                    this.limit > 0 &&
                    this.tags.length >= this.limit) ||
                this.disabled
            );
        },
    },

    watch: {
        input(newVal, oldVal) {
            this.searchTag(false);

            if (newVal.length && newVal !== oldVal) {
                if (this.addTagsOnSpace) {
                    if (newVal.endsWith(" ")) {
                        // The space shouldn't actually be inserted
                        this.input = newVal.trim();

                        // Add the inputed tag
                        this.tagFromInput(true);
                    }
                }

                if (this.addTagsOnComma) {
                    newVal = newVal.trim();

                    if (newVal.endsWith(",")) {
                        // The comma shouldn't actually be inserted
                        this.input = newVal.substring(0, newVal.length - 1);

                        // Add the inputed tag
                        this.tagFromInput(true);
                    }
                }

                this.$emit("change", newVal);
            }
        },

        existingTags(newVal) {
            this.typeaheadTags.splice();

            this.typeaheadTags = this.cloneArray(newVal);

            this.searchTag();
        },

        tags() {
            // Updating the hidden input
            this.hiddenInput = JSON.stringify(this.tags);

            // Update the bound v-model value
            this.$emit("input", this.tags);
        },

        value() {
            this.tagsFromValue();
        },

        typeaheadAlwaysShow(newValue) {
            if (newValue) {
                this.searchTag(false);
            } else {
                this.clearSearchResults();
            }
        },
    },

    created() {
        this.typeaheadTags = this.cloneArray(this.existingTags);

        this.tagsFromValue();

        if (this.typeaheadAlwaysShow) {
            this.searchTag(false);
        }
    },

    mounted() {
        // Emit an event
        this.$emit("initialized");

        document.addEventListener("click", (e) => {
            if (e.target !== this.$refs["taginput"]) {
                this.clearSearchResults();
            }
        });
    },

    emits: ["initialized", "update:modelValue"],

    methods: {
        /**
         * Remove reserved regex characters from a string so that they don't
         * affect search results
         *
         * @param string
         * @returns String
         */
        escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        },

        /**
         * Add a tag whether from user input or from search results (typeahead)
         *
         * @param ignoreSearchResults
         * @returns void
         */
        tagFromInput(ignoreSearchResults = false) {
            // If we're choosing a tag from the search results
            if (
                this.searchResults.length &&
                this.searchSelection >= 0 &&
                !ignoreSearchResults
            ) {
                this.tagFromSearch(this.searchResults[this.searchSelection]);

                this.input = "";
            } else {
                // If we're adding an unexisting tag
                let text = this.input.trim();

                // If the new tag is not an empty string and passes validation
                if (
                    !this.onlyExistingTags &&
                    text.length &&
                    this.validate(text)
                ) {
                    this.input = "";

                    // Determine if the inputted tag exists in the typeagedTags
                    // array
                    let newTag = {
                        key: "",
                        value: text,
                    };

                    const searchQuery = this.escapeRegExp(
                        this.caseSensitiveTags
                            ? newTag[this.textField]
                            : newTag[this.textField].toLowerCase()
                    );

                    for (let tag of this.typeaheadTags) {
                        const compareable = this.escapeRegExp(
                            this.caseSensitiveTags
                                ? tag[this.textField]
                                : tag[this.textField].toLowerCase()
                        );

                        if (searchQuery === compareable) {
                            newTag = Object.assign({}, tag);

                            break;
                        }
                    }

                    this.addTag(newTag);
                }
            }
        },

        /**
         * Add a tag from search results when a user clicks on it
         *
         * @param tag
         * @returns void
         */
        tagFromSearchOnClick(tag) {
            this.tagFromSearch(tag);

            this.$refs["taginput"].blur();
        },

        /**
         * Add the selected tag from the search results.
         * Clear search results.
         * Clear user input.
         *
         * @param tag
         * @return void
         */
        tagFromSearch(tag) {
            this.clearSearchResults();
            this.addTag(tag);

            this.$emit("update:modelValue", this.tags);

            this.$nextTick(() => {
                this.input = "";
                this.oldInput = "";
            });
        },

        /**
         * Add/Select a tag
         *
         * @param tag
         * @param force
         * @returns void | Boolean
         */
        addTag(tag, force = false) {
            if (this.disabled && !force) {
                return;
            }

            if (!this.beforeAddingTag(tag)) {
                return false;
            }

            // Check if the limit has been reached
            if (this.limit > 0 && this.tags.length >= this.limit) {
                this.$emit("limit-reached");

                return false;
            }

            // Attach the tag if it hasn't been attached yet
            if (!this.tagSelected(tag)) {
                this.tags.push(tag);

                // Emit events
                this.$nextTick(() => {
                    this.$emit("tag-added", tag);
                    this.$emit("tags-updated");
                });
            }
        },

        /**
         * Remove the last tag in the tags array.
         *
         * @returns void
         */
        removeLastTag() {
            if (
                !this.input.length &&
                this.deleteOnBackspace &&
                this.tags.length
            ) {
                this.removeTag(this.tags.length - 1);
            }
        },

        /**
         * Remove the selected tag at the specified index.
         *
         * @param index
         * @returns void
         */
        removeTag(index) {
            if (this.disabled) {
                return;
            }

            let tag = this.$attrs.modelValue[index];

            if (!this.beforeRemovingTag(tag)) {
                return false;
            }

            this.$attrs.modelValue.splice(index, 1);

            // Emit events
            this.$nextTick(() => {
                this.$emit("tag-removed", tag);
                this.$root.$emit("tags-updated");

                if (this.typeaheadAlwaysShow) {
                    this.searchTag();
                }
            });

            this.$emit("update:modelValue", this.tags);
        },

        /**
         * Search the currently entered text in the list of existing tags
         *
         * @returns void | Boolean
         */
        searchTag() {
            if (this.typeahead !== true) {
                return false;
            }

            if (
                this.oldInput !== this.input ||
                (!this.searchResults.length &&
                    this.typeaheadActivationThreshold === 0) ||
                this.typeaheadAlwaysShow ||
                this.typeaheadShowOnFocus
            ) {
                this.searchResults = [];
                this.searchSelection = 0;
                let input = this.input.trim();

                if (
                    (input.length &&
                        input.length >= this.typeaheadActivationThreshold) ||
                    this.typeaheadActivationThreshold === 0 ||
                    this.typeaheadAlwaysShow
                ) {
                    // Find all the existing tags which include the search text
                    const searchQuery = this.escapeRegExp(
                        this.caseSensitiveTags ? input : input.toLowerCase()
                    );

                    // AJAX search
                    if (this.typeaheadUrl.length > 0) {
                        this.typeaheadTags.splice();
                        const xhttp = new XMLHttpRequest();
                        const that = this;

                        xhttp.onreadystatechange = function () {
                            if (this.readyState === 4 && this.status === 200) {
                                that.typeaheadTags = JSON.parse(
                                    xhttp.responseText
                                );

                                that.doSearch(searchQuery);
                            }
                        };

                        const endpoint = this.typeaheadUrl.replace(
                            ":search",
                            searchQuery
                        );
                        xhttp.open("GET", endpoint, true);
                        xhttp.send();
                    } else {
                        // Search the existing collection
                        this.doSearch(searchQuery);
                    }
                }

                this.oldInput = this.input;
            }
        },

        /**
         * Perform the actual search
         *
         * @param string searchQuery
         * @return void
         */
        doSearch(searchQuery) {
            for (let tag of this.typeaheadTags) {
                const compareable = this.caseSensitiveTags
                    ? tag[this.textField]
                    : tag[this.textField].toLowerCase();

                if (
                    compareable.search(searchQuery) > -1 &&
                    !this.tagSelected(tag)
                ) {
                    this.searchResults.push(tag);
                }
            }

            // Sort the search results alphabetically
            if (this.sortSearchResults) {
                this.searchResults.sort((a, b) => {
                    if (a[this.textField] < b[this.textField]) return -1;
                    if (a[this.textField] > b[this.textField]) return 1;

                    return 0;
                });
            }

            // Shorten Search results to desired length
            if (this.typeaheadMaxResults > 0) {
                this.searchResults = this.searchResults.slice(
                    0,
                    this.typeaheadMaxResults
                );
            }
        },

        /**
         * Hide the typeahead if there's nothing intered into the input field.
         *
         * @returns void
         */
        hideTypeahead() {
            if (!this.input.length) {
                this.$nextTick(() => {
                    this.clearSearchResults();
                });
            }
        },

        /**
         * Select the next search result in typeahead.
         *
         * @returns void
         */
        nextSearchResult() {
            if (this.searchSelection + 1 <= this.searchResults.length - 1) {
                this.searchSelection++;
            }
        },

        /**
         * Select the previous search result in typeahead.
         *
         * @returns void
         */
        prevSearchResult() {
            if (this.searchSelection > 0) {
                this.searchSelection--;
            }
        },

        /**
         * Clear/Empty the search results.
         *
         * @reutrns void
         */
        clearSearchResults(returnFocus = false) {
            this.searchResults = [];
            this.searchSelection = 0;

            if (this.typeaheadAlwaysShow) {
                this.$nextTick(() => {
                    this.searchTag();
                });
            }

            if (returnFocus) {
                this.$refs["taginput"].focus();
            }
        },

        /**
         * Clear the list of selected tags.
         *
         * @returns void
         */
        clearTags() {
            this.tags.splice(0, this.tags.length);
        },

        /**
         * Replace the currently selected tags with the tags from the value.
         *
         * @returns void
         */
        tagsFromValue() {
            if (this.$attrs.modelValue && this.$attrs.modelValue.length) {
                if (!Array.isArray(this.$attrs.modelValue)) {
                    console.error(
                        "Voerro Tags Input: the v-model value must be an array!"
                    );

                    return;
                }

                let tags = this.$attrs.modelValue;

                // Don't update if nothing has changed
                if (this.tags === tags) {
                    return;
                }

                this.clearTags();

                for (let tag of tags) {
                    this.addTag(tag, true);
                }
            } else {
                if (this.tags.length === 0) {
                    return;
                }

                this.clearTags();
            }
        },

        /**
         * Check if a tag is already selected.
         *
         * @param tag
         * @returns Boolean
         */
        tagSelected(tag) {
            if (this.allowDuplicates) {
                return false;
            }

            if (!tag) {
                return false;
            }

            const searchQuery = this.escapeRegExp(
                this.caseSensitiveTags
                    ? tag[this.textField]
                    : tag[this.textField].toLowerCase()
            );

            for (let selectedTag of this.tags) {
                const compareable = this.caseSensitiveTags
                    ? selectedTag[this.textField]
                    : selectedTag[this.textField].toLowerCase();

                if (
                    selectedTag[this.idField] === tag[this.idField] &&
                    this.escapeRegExp(compareable).length ===
                        searchQuery.length &&
                    compareable.search(searchQuery) > -1
                ) {
                    return true;
                }
            }

            return false;
        },

        /**
         * Clear the input.
         *
         * @returns void
         */
        clearInput() {
            this.input = "";
        },

        /**
         * Process all the keyup events.
         *
         * @param e
         * @returns void
         */
        onKeyUp(e) {
            this.$emit("keyup", e);
        },

        /**
         * Process all the keydown events.
         *
         * @param e
         * @returns void
         */
        onKeyDown(e) {
            this.$emit("keydown", e);
        },

        /**
         * Process the onfocus event.
         *
         * @param e
         * @returns void
         */
        onFocus(e) {
            this.$emit("focus", e);

            this.isActive = true;
        },

        /**
         * Process the onClick event.
         *
         * @param e
         * @returns void
         */
        onClick(e) {
            this.$emit("click", e);

            this.isActive = true;

            this.searchTag();
        },

        /**
         * Process the onblur event.
         *
         * @param e
         * @returns void
         */
        onBlur(e) {
            this.$emit("blur", e);

            if (this.addTagsOnBlur) {
                // Add the inputed tag
                this.tagFromInput(true);
            }

            if (!this.typeaheadAlwaysShow) {
                this.hideTypeahead();
            } else {
                this.searchTag();
            }

            this.isActive = false;
        },

        hiddenInputValue(tag) {
            // Return all fields
            if (!this.valueFields) {
                return JSON.stringify(tag);
            }

            const fields = this.valueFields.replace(/\s/, "").split(",");

            // A single field
            if (fields.length === 1) {
                return tag[fields[0]];
            }
            // Specified fields
            return JSON.stringify(
                Object.assign(
                    {},
                    ...fields.map((field) => ({ [field]: tag[field] }))
                )
            );
        },

        cloneArray(arr) {
            return arr.map((el) => Object.assign({}, el));
        },
    },
};
</script>
<style>
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    border-radius: 100px;
}
</style>
