<template>
    <div>
        <label :for="name" class="block text-sm mt-2 font-medium text-gray-700">
            {{ text }}
            <span class="text-red-500" v-if="required">*</span>
        </label>
        <div
            class="mt-1 relative"
            :class="{
                'rounded-full': rounded,
                'rounded-md': !rounded,
                'shadow-sm': !disabled,
            }"
        >
            <textarea
                :name="name"
                :id="id"
                class="block w-full pr-10 focus:outline-none focus:ring-blue-500 focus:border-indigo-300 resize-none"
                :class="{
                    capitalize: type !== 'email',
                    'rounded-full': rounded,
                    'rounded-md': !rounded,
                    'border-red-300 placeholder-red-200': errorMessage !== '',
                    'text-sm py-2 px-3': size === 'small',
                    'text-lg py-2 px-4': size === 'large',
                    'border-none': disabled,
                    'border-gray-300': !disabled,
                }"
                :cols="cols"
                :rows="rows"
                :placeholder="placeholder"
                :value="modelValue"
                @input="$emit('update:modelValue', $event.target.value)"
                ref="input"
            />
        </div>
        <bisu-input-error :message="errorMessage" />
    </div>
</template>

<script>
export default {
    props: {
        cols: {
            type: Number,
            default: 30,
        },
        rows: {
            type: Number,
            default: 5,
        },
        modelValue: {
            type: String,
            default: "",
        },
        id: {
            type: String,
            default: "",
        },
        name: {
            type: String,
            default: "",
        },
        text: {
            type: String,
            default: "",
        },
        placeholder: {
            type: String,
            default: "",
        },
        type: {
            type: String,
            default: "text",
        },
        size: {
            type: String,
            default: "default",
        },
        rounded: {
            type: Boolean,
            default: false,
        },
        errorMessage: {
            type: String,
            default: "",
        },
        readOnly: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        required: {
            type: Boolean,
            default: false,
        },
    },

    emits: ["update:modelValue"],

    methods: {
        focus() {
            this.$refs.input.focus();
        },
    },
};
</script>
