<template>
    <div class="mb-2">
        <label class="block text-sm font-medium text-gray-700">
            {{ text }}
            <span class="text-red-500" v-if="required">*</span>
        </label>
    </div>
    <button
        @click="$emit('update:modelValue', !modelValue)"
        type="button"
        class="flex-shrink-0 group relative rounded-full inline-flex items-center justify-center h-5 w-10 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        role="switch"
        aria-checked="false"
    >
        <span class="sr-only">Use setting</span>
        <span
            aria-hidden="true"
            class="pointer-events-none absolute bg-white w-full h-full rounded-md"
        ></span>
        <span
            aria-hidden="true"
            :class="[
                modelValue ? 'bg-indigo-600' : 'bg-gray-200',
                'pointer-events-none absolute h-4 w-9 mx-auto rounded-full transition-colors ease-in-out duration-200',
            ]"
        />
        <span
            aria-hidden="true"
            :class="[
                modelValue ? 'translate-x-5' : 'translate-x-0',
                'pointer-events-none absolute left-0 inline-block h-5 w-5 border border-gray-200 rounded-full bg-white shadow transform ring-0 transition-transform ease-in-out duration-200',
            ]"
        />
    </button>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: "",
        },
        modelValue: {
            type: Boolean,
            default: false,
        },
        required: {
            type: Boolean,
            default: false,
        },
    },
    emits: ["update:modelValue"],
};
</script>

<style></style>
