<template>
    <div class="bg-gray-400">
        <section aria-labelledby="profile_information_heading">
            <form @submit.prevent="update">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="bg-white py-4 px-6">
                        <div>
                            <h2
                                id="profile_information_heading"
                                class="text-lg leading-6 font-medium text-gray-900"
                            >
                                Profile
                            </h2>

                            <p class="mt-1 text-sm text-gray-500">
                                This information will be displayed publicly so
                                be careful what you share.
                            </p>
                        </div>
                    </div>
                    <div class="py-3 px-4 bg-gray-50 sm:px-6 pb-7">
                        <div class="grid grid-cols-1 sm:grid-cols-2">
                            <bisu-input
                                text="Firstname"
                                name="Firstname"
                                placeholder="Enter Firstname"
                                class="mr-1"
                                v-model="newForm.firstname"
                                rounded
                                @input="reset('firstname')"
                                :errorMessage="newForm.errors['firstname']"
                            />
                            <bisu-input
                                text="Lastname"
                                name="Lastname"
                                placeholder="Enter Lastname"
                                class="ml-1"
                                v-model="newForm.lastname"
                                rounded
                                @input="reset('lastname')"
                                :errorMessage="newForm.errors['lastname']"
                            />
                            <bisu-input
                                text="Email"
                                name="Email"
                                type="email"
                                placeholder="Enter Email"
                                class="mr-1"
                                v-model="newForm.email"
                                rounded
                                @input="reset('email')"
                                :errorMessage="newForm.errors['email']"
                            />
                            <bisu-input
                                text="Contact Number"
                                name="Contact Number"
                                placeholder="Enter Contact Number"
                                class="ml-1"
                                v-model="newForm.contact_number"
                                rounded
                                @input="reset('contact_number')"
                                :errorMessage="newForm.errors['contact_number']"
                            />
                            <bisu-input
                                text="Gender"
                                name="Gender"
                                placeholder="Enter Gender"
                                class="mr-1"
                                v-model="newForm.gender"
                                rounded
                                @input="reset('gender')"
                                :errorMessage="newForm.errors['gender']"
                            />
                            <bisu-input
                                text="Position"
                                name="Position"
                                placeholder="Enter Position"
                                class="ml-1"
                                v-model="newForm.position"
                                rounded
                                @input="reset('position')"
                                :errorMessage="newForm.errors['position']"
                            />
                        </div>
                        <div class="text-white pt-5 text-right">
                            <bisu-button type="submit">Save</bisu-button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</template>

<script>
import Toastr from "toastr2";

const toastr = new Toastr();

export default {
    data() {
        return {
            newForm: this.$inertia.form({
                firstname: this.$attrs.user.firstname,
                lastname: this.$attrs.user.lastname,
                email: this.$attrs.user.email,
                contact_number: this.$attrs.user.contact_number,
                gender: this.$attrs.user.gender,
                position: this.$attrs.user.position,
            }),
        };
    },
    methods: {
        update() {
            this.newForm.put("/settings/" + this.$attrs.user.id, {
                onSuccess: () => {
                    toastr.success(this.$attrs.flash.message);
                    this.clearFields();
                    this.isEditShow = false;
                },
                onError: (errors) => {
                    toastr.error("Please check the field(s) given.");
                },
            });
        },
        reset(field) {
            this.newForm.errors[field] = "";
        },
    },
};
</script>

<style></style>
