<template>
    <div class="">
        <div class="mx-auto lg:py-10 lg:px-8">
            <div class="flex-shrink-0 mb-2 text-right">
                <a
                    href="/"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-600 rounded-full shadow-sm  hover:text-white bg-gradient-to-r hover:from-indigo-900 hover:to-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                    AACCUP Accreditation
                </a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-4">
                <div class="px-2 py-6 sm:px-6 lg:py-0 lg:px-0">
                    <nav class="space-y-3 font-semibold">
                        <a
                            href="/settings/account"
                            class="flex"
                            :class="{
                                'text-blue-800':
                                    $page.url === '/settings/account',
                            }"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 mr-2"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                />
                            </svg>
                            Account
                        </a>

                        <a
                            href="/settings/password"
                            :class="{
                                'text-blue-800':
                                    $page.url === '/settings/password',
                            }"
                            class="flex"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 mr-2"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"
                                />
                            </svg>
                            Password
                        </a>

                        <a
                            v-if="
                                $page.props.auth.user.roles[0].name ===
                                'Super Admin'
                            "
                            href="/settings/rating"
                            class="flex"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 mr-2"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
                                />
                            </svg>
                            Enable / Disable Rating
                        </a>
                    </nav>
                </div>
                <div class="sm:col-span-3">
                    <account
                        v-if="$inertia.page.url === '/settings/account'"
                        :user="$attrs.user"
                        :flash="$attrs.flash"
                    />
                    <password
                        :errors="errors"
                        v-if="$inertia.page.url === '/settings/password'"
                    />
                    <page-rating
                        :errors="errors"
                        v-if="$inertia.page.url === '/settings/rating'"
                        :couse_areas="$attrs.couse_areas"
                        :flash="$attrs.flash"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Account from "./Account";
import Password from "./Password";
import PageRating from "./Rating.vue";
export default {
    props: {
        errors: Object,
    },
    layout: AppLayout,
    components: {
        Account,
        Password,
        PageRating,
    },
};
</script>
