<template>
    <div class="bg-gray-400">
        <section aria-labelledby="password_information_heading">
            <form @submit.prevent="updatePassword">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-6 pt-4 bg-white">
                        <div>
                            <h2
                                id="password_information_heading"
                                class="text-lg font-medium leading-6 text-gray-900 "
                            >
                                Password
                            </h2>

                            <p class="mt-1 text-sm text-gray-500">
                                You can change your password to be more secured.
                            </p>
                        </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 sm:px-6 pb-7">
                        <bisu-input
                            name="Current Password"
                            type="password"
                            v-model="updateForm.currentPassword"
                            rounded
                            placeholder="Enter Current Password"
                            @input="reset('currentPassword')"
                            :errorMessage="errors['currentPassword']"
                        />
                        <bisu-input
                            name="New Password"
                            type="password"
                            v-model="updateForm.newPassword"
                            rounded
                            placeholder="Enter New Password"
                            @input="reset('newPassword')"
                            :errorMessage="errors['newPassword']"
                        />
                        <bisu-input
                            name="Confirm Password"
                            type="password"
                            v-model="updateForm.confirmPassword"
                            rounded
                            placeholder="Enter Confirm Password"
                            @input="reset('confirmPassword')"
                            :errorMessage="errors['confirmPassword']"
                        />
                        <div class="pt-5 text-right text-white">
                            <bisu-button type="submit">Save</bisu-button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</template>

<script>
import Toastr from "toastr2";
const toastr = new Toastr();

export default {
    props: {
        errors: Object,
        default: () => {},
    },
    data() {
        return {
            updateForm: {
                currentPassword: "",
                newPassword: "",
                confirmPassword: "",
            },
            user: this.$page.props.auth.user,
        };
    },
    methods: {
        clearFields() {
            this.updateForm = {
                currentPassword: "",
                newPassword: "",
                confirmPassword: "",
            };
        },

        reset(field) {
            this.$page.props.errors[field] = "";
        },
        async updatePassword() {
            await this.$inertia.put(
                "/settings/update-password/" + this.user.id,
                this.updateForm,
                {
                    onSuccess: () => {
                        if (this.$page.props.flash.message !== null) {
                            toastr.success(this.$page.props.flash.message);
                            this.clearFields();
                        } else {
                            toastr.error(this.$page.props.flash.error);
                        }
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },
    },
};
</script>
