<template>
    <div class="">
        <section aria-labelledby="profile_information_heading">
            <div class="shadow sm:rounded-md sm:overflow-hidden">
                <div class="px-6 py-4 bg-white">
                    <div>
                        <h2
                            id="profile_information_heading"
                            class="text-lg font-medium leading-6 text-gray-900"
                        >
                            Areas
                        </h2>

                        <p class="mt-1 text-sm text-gray-500">
                            This information will be displayed only for super
                            admin.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col m-3">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div
                            class="inline-block min-w-full py-2 align-middle  sm:px-6 lg:px-8"
                        >
                            <div
                                class="overflow-hidden border-b border-gray-200 shadow  sm:rounded-lg"
                            >
                                <table
                                    class="min-w-full divide-y divide-gray-200"
                                >
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th
                                                scope="col"
                                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
                                            >
                                                Course
                                            </th>
                                            <th
                                                scope="col"
                                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
                                            >
                                                Area
                                            </th>
                                            <th
                                                scope="col"
                                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase "
                                            >
                                                Enable / Disable
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="(
                                                item, index
                                            ) in $attrs.couse_areas"
                                            :key="index"
                                            :class="
                                                index % 2 === 0
                                                    ? 'bg-white'
                                                    : 'bg-gray-50'
                                            "
                                        >
                                            <td
                                                class="px-6 py-4 text-sm font-medium text-gray-900 truncate  whitespace-nowrap"
                                            >
                                                {{
                                                    get(item, "course.name", "")
                                                }}
                                            </td>
                                            <td
                                                class="px-6 py-4 text-sm text-gray-500 truncate  whitespace-nowrap"
                                            >
                                                {{ get(item, "name", "") }}
                                            </td>
                                            <td
                                                class="px-6 py-4 text-sm text-gray-500 truncate  whitespace-nowrap"
                                            >
                                                <bisu-toggle
                                                    v-model="item.isRating"
                                                    @update:modelValue="
                                                        update(item)
                                                    "
                                                />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Toastr from "toastr2";
import get from "lodash/get";
import { Inertia } from "@inertiajs/inertia";

const toastr = new Toastr();

export default {
    data() {
        return {
            updateForm: this.$inertia.form({
                id: "",
            }),
        };
    },
    methods: {
        get,
        update(area) {
            Inertia.put(
                "/update-rating/" + area.id,
                {
                    isRating: area.isRating,
                },
                {
                    onSuccess: () => {
                        toastr.success(this.$attrs.flash.message);
                    },
                    onError: (errors) => {
                        toastr.error("Please check the field(s) given.");
                    },
                }
            );
        },
        // reset(field) {
        //     this.newForm.errors[field] = "";
        // },
    },
};
</script>

<style></style>
