<template></template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Toastr from "toastr2";

const toastr = new Toastr();

export default {
    layout: AppLayout,
};
</script>

<style></style>
