<template>
    <div class="flex flex-col h-screen">
        <div>
            <navbar />
        </div>
        <main class="container m-auto mt-3 mb-auto">
            <slot />
        </main>
        <div>
            <page-footer />
        </div>
    </div>
</template>

<script>
import Navbar from "./Navbar.vue";
import PageFooter from "./Footer.vue";
export default {
    components: {
        Navbar,
        PageFooter,
    },
};
</script>

<style></style>
