<template>
    <div
        class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100"
    >
        <div
            class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg"
        >
            <div class="flex">
                <inertia-link href="/" class="m-auto">
                    <bisu-logo class="w-20 h-20 fill-current text-gray-500" />
                </inertia-link>
            </div>
            <div class="text-center text-gray-500 text-xl pb-2">
                <span class="font-bold">AACCUP Accreditation</span> - Balilihan
                Campus
            </div>
            <hr class="py-2" />
            <slot />
        </div>
    </div>
</template>

<script>
import BisuLogo from "@/Components/ApplicationLogo";

export default {
    components: {
        BisuLogo,
    },
};
</script>
