<template>
    <nav
        class="text-gray-900 bg-transparent border-b border-gray-200 shadow-md"
    >
        <!-- Primary Navigation Menu -->
        <div class="container px-4 m-auto mx-auto sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <!-- Logo -->
                    <div class="flex items-center flex-shrink-0">
                        <inertia-link :href="route('home')">
                            <logo class="block w-auto h-9" />
                        </inertia-link>
                    </div>

                    <!-- Navigation Links -->
                    <div
                        class="hidden space-x-8 text-gray-600 sm:items-center sm:ml-20 sm:flex"
                    >
                        <bisu-nav-link
                            class="h-full"
                            :active="$page.url === '/'"
                            href="/"
                        >
                            Home
                        </bisu-nav-link>
                        <bisu-nav-link
                            v-if="
                                $page.props.auth.user.roles[0].name ===
                                'Super Admin'
                            "
                            class="h-full"
                            href="/users"
                            :active="$page.url === '/users'"
                        >
                            Users
                        </bisu-nav-link>
                        <bisu-nav-link
                            v-if="
                                $page.props.auth.user.roles[0].name !==
                                'Accreditor'
                            "
                            class="h-full"
                            href="/databox"
                            :active="$page.url === '/databox'"
                        >
                            Databox
                        </bisu-nav-link>
                        <div
                            v-if="
                                $page.props.auth.user.roles[0].name !== 'Admin'
                            "
                            class="relative ml-3"
                        >
                            <bisu-dropdown align="right">
                                <template #trigger>
                                    <span class="inline-flex rounded-md">
                                        <button
                                            type="button"
                                            class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md hover:text-gray-700 focus:outline-none"
                                        >
                                            Summaries

                                            <svg
                                                class="ml-2 -mr-0.5 h-4 w-4"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                            >
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                    clip-rule="evenodd"
                                                />
                                            </svg>
                                        </button>
                                    </span>
                                </template>

                                <template #content>
                                    <bisu-dropdown-link
                                        href="/summaries/comments"
                                        as="button"
                                        class="border-b border-gray-200"
                                    >
                                        Comments / Feedbacks
                                    </bisu-dropdown-link>
                                    <bisu-dropdown-link
                                        href="/summaries/average"
                                        as="button"
                                    >
                                        Average Rating
                                    </bisu-dropdown-link>
                                </template>
                            </bisu-dropdown>
                        </div>
                    </div>
                </div>
                <div class="hidden sm:flex sm:items-center sm:ml-6">
                    <!-- Settings Dropdown -->
                    <div class="relative ml-3">
                        <bisu-dropdown align="right" width="48">
                            <template #trigger>
                                <span class="inline-flex rounded-md">
                                    <button
                                        type="button"
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-500 transition duration-150 ease-in-out bg-white border border-transparent rounded-md hover:text-gray-700 focus:outline-none"
                                    >
                                        <span class="mr-2 font-bold"
                                            >Welcome back!
                                        </span>
                                        {{ $page.props.auth.user.firstname }}

                                        <svg
                                            class="ml-2 -mr-0.5 h-4 w-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </button>
                                </span>
                            </template>

                            <template #content>
                                <bisu-dropdown-link
                                    href="/settings/account"
                                    as="button"
                                    class="border-b border-gray-200"
                                >
                                    Settings
                                </bisu-dropdown-link>
                                <bisu-dropdown-link
                                    :href="route('logout')"
                                    method="post"
                                    as="button"
                                >
                                    Log Out
                                </bisu-dropdown-link>
                            </template>
                        </bisu-dropdown>
                    </div>
                </div>

                <!-- Hamburger -->
                <div class="flex items-center -mr-2 sm:hidden">
                    <button
                        @click="
                            showingNavigationDropdown =
                                !showingNavigationDropdown
                        "
                        class="inline-flex items-center justify-center p-2 text-gray-400 transition duration-150 ease-in-out rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500"
                    >
                        <svg
                            class="w-6 h-6"
                            stroke="currentColor"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                :class="{
                                    hidden: showingNavigationDropdown,
                                    'inline-flex': !showingNavigationDropdown,
                                }"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            />
                            <path
                                :class="{
                                    hidden: !showingNavigationDropdown,
                                    'inline-flex': showingNavigationDropdown,
                                }"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Responsive Navigation Menu -->
        <div
            :class="{
                block: showingNavigationDropdown,
                hidden: !showingNavigationDropdown,
            }"
            class="sm:hidden"
        >
            <div class="pt-2 pb-3 space-y-1">
                <bisu-responsive-nav-link
                    :href="route('dashboard')"
                    :active="route().current('dashboard')"
                >
                    Dashboard
                </bisu-responsive-nav-link>
            </div>

            <!-- Responsive Settings Options -->
            <div class="pt-4 pb-1 border-t border-gray-200">
                <!-- <div class="flex items-center px-4">
                    <div class="text-base font-medium text-gray-800"></div>
                    <div class="text-sm font-medium text-gray-500">
                        
                    </div>
                </div> -->

                <div class="mt-3 space-y-1">
                    <bisu-responsive-nav-link
                        :href="route('logout')"
                        method="post"
                        as="button"
                    >
                        Log Out
                    </bisu-responsive-nav-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import Logo from "@/Components/ApplicationLogo";

export default {
    components: {
        Logo,
    },

    data() {
        return {
            active: false,
            showingNavigationDropdown: false,
        };
    },
    computed: {
        classes() {
            return this.active
                ? "inline-flex items-center px-1 pt-1 border-b-2 border-indigo-400 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out"
                : "inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out";
        },
    },
    methods: {},
};
</script>
