<template>
    <!-- <bisu-validation-errors class="mb-4" /> -->

    <div v-if="status" class="mb-4 text-sm font-medium text-green-600">
        {{ status }}
    </div>

    <form @submit.prevent="submit">
        <div>
            <bisu-input
                id="email"
                type="email"
                text="Email"
                class="block w-full mt-1"
                v-model="form.email"
                placeholder="Enter Email"
                rounded
                autofocus
                autocomplete="username"
                :errorMessage="errors['email']"
            />
        </div>

        <div class="mt-4">
            <bisu-input
                id="password"
                text="Password"
                type="password"
                class="block w-full mt-1"
                v-model="form.password"
                placeholder="Enter Password"
                rounded
                autocomplete="current-password"
                :errorMessage="errors['password']"
            />
        </div>

        <div class="block mt-4">
            <label class="flex items-center">
                <bisu-checkbox
                    name="remember"
                    v-model:checked="form.remember"
                />
                <span class="ml-2 text-sm text-gray-600">Remember me</span>
            </label>
        </div>

        <div class="flex items-center justify-end mt-4">
            <inertia-link
                v-if="canResetPassword"
                :href="route('password.request')"
                class="text-sm text-gray-600 underline hover:text-gray-900"
            >
                Forgot your password?
            </inertia-link>

            <bisu-button
                class="ml-4 text-gray-200"
                :class="{ 'opacity-25': form.processing }"
                :disabled="form.processing"
            >
                Log in
            </bisu-button>
        </div>
    </form>
</template>

<script>
import BisuButton from "@/Components/Button";
import BisuGuestLayout from "@/Layouts/Guest";
import BisuInput from "@/Components/Input";
import BisuCheckbox from "@/Components/Checkbox";
import BisuLabel from "@/Components/Label";
import BisuValidationErrors from "@/Components/ValidationErrors";

export default {
    layout: BisuGuestLayout,

    components: {
        BisuButton,
        BisuInput,
        BisuCheckbox,
        BisuLabel,
        BisuValidationErrors,
    },

    props: {
        canResetPassword: Boolean,
        status: String,
        errors: Object,
        status: String,
    },

    data() {
        return {
            form: this.$inertia.form({
                email: "",
                password: "",
                remember: false,
            }),
        };
    },

    methods: {
        submit() {
            this.form
                .transform((data) => ({
                    ...data,
                    remember: this.form.remember ? "on" : "",
                }))
                .post(this.route("login"), {
                    onFinish: () => this.form.reset("password"),
                });
        },
    },
};
</script>
